<app-menu></app-menu>

<div class="cargador" id="carg" style="display: block;"></div>

<!--START Estado del proyecto es menor o igual a 3-->
<div *ngIf="estadoInscripcion<=3" style="font-family:Helvetica; font-size: 15px; font-weight: bold;">
  <div class="modal" id="success-modal-preview">
    <div class="modal__content">
      <div class="p-5 text-center">
        <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
        <div class="text-3xl mt-5">¡Muy bien!</div>
        <div class=" mt-2">¡Has editado una empresa!</div>
      </div>
      <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
    </div>
  </div>
  <br><br>

  <div class="flex flex-1 px-5 items-center justify-center " align="center">
    <div class="w-100 h-20 sm:w-24 sm:h-24 flex-none lg:w-48 lg:h-48 image-fit relative">
      <img alt="" id="blah" class="rounded-full" src="data:image/png;base64,{{proyectoModel.imagenArchivo}}">
    </div>

  </div>
  <div class="modal" id="entrevista" style=" display: block; ">
    <div class="modal__content modal__content--xl p-10 text-center">
      <a data-dismiss="modal" href="javascript:;" class="absolute right-0 top-0 mt-3 mr-3"> <i data-feather="x" class="w-8 h-8 text-gray-500"></i> </a>

      <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;font-weight:bold;">Entrevista</div>
      <div class=" mt-8 text-red text-center" style="color: #6B3F23; font-size: 25px;">¡Contacta al Responsable de Servicio Social!</div>


      <div class=" mt-8 text-justify" style="font-size: 20px;">
        Manda un mail al responsable de servicio social de la institución avisándole que has aplicado al proyecto y que quieres tener una entrevista. El contacto viene en la parte inferior del perfil del proyecto.
      </div>
      <br>
      <div class="flex justify-center text-center items-center mt-8 text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
        "> <br> <a data-dismiss="modal" style=" border-radius: 15px; font-size: 17px; cursor:pointer;" class="button  btn-lg text-white  ">Continuar</a> </div>
    </div>
  </div>

  <div class="" id="horizontal-form">

    <div class="grid grid-cols-12 gap-6 mt-5">

      <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
        <div class="px-5 pb-8 text-center">


          <div class="text-center" id="OCULTAR" style="display: none;">
            <!--1 preregistro,2 Aprobado por empresa, 3 Inscrito,4	Terminado,5	Cancelado,6	Rechazado-->
            <a *ngIf="estadoInscripcion==0" href="javascript:;" data-toggle="modal" data-target="#inscribirmemodal" style="background: #FF8300; border-radius: 15px; font-size: 17px; cursor:pointer;" class=" text-white  pl-5 pr-5 pt-2 pb-2">Postularme</a>
            <p *ngIf="estadoInscripcion==1" class="button  button--lg inline-block bg-theme-12 text-white"> Te has postulado a este proyecto </p>
            <div *ngIf="estadoInscripcion==2"><p class="button  button--lg inline-block bg-theme-17">Te han entrevistado en este proyecto</p></div>
            <div *ngIf="estadoInscripcion==3"><p>Te han aceptado a este proyecto confirma tu inscripción</p><a href="javascript:;" data-toggle="modal" data-target="#confirmainscribirmemodal" style="border-radius: 15px; font-size: 17px; cursor:pointer;" class="button  button--lg inline-block bg-theme-9 text-white mt-5">Confirmar tu inscripción</a></div>
            <!--<p *ngIf="estadoInscripcion==2" class="button  button--lg inline-block bg-theme-11 text-white"> Te han aceptado a este proyecto confirma tu inscripciòn</p>-->
            <p *ngIf="estadoInscripcion==4" class="button  button--lg inline-block bg-theme-10 text-white"> Estás inscrito a este proyecto </p>
            <p *ngIf="estadoInscripcion==5" class="button  button--lg inline-block bg-theme-9 text-white"> Proyecto terminado </p>
            <p *ngIf="estadoInscripcion==6" class="button  button--lg inline-block bg-theme-8 text-white"> Cancelado </p>
            <p *ngIf="estadoInscripcion==7" class="button  button--lg inline-block bg-theme-6 text-white"> Te han rechazado de este proyecto </p>
          </div>

          <div class="modal" id="inscribirmemodal">
            <div class="modal__content modal__content--xl p-10 text-center">
              <div class="p-5 text-center">
                <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;font-weight: bold;">Aplicación</div>
                <div class=" mt-8 text-red text-center" style="color: #6B3F23; font-size: 25px;">¡Confirma tu aplicación!</div>

                <div class=" mt-8 " style="font-size: 20px;">
                  ¿Confirmas que quieres aplicar a este proyecto?
                </div>
              </div>
              <div class="sm:grid grid-cols-4 gap-2">
                <div class="relative mt-8"></div>
                <div class="relative mt-8">
                  <a data-dismiss="modal" style="background: gray; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
                        " class="button  btn-lg text-white ml-3">Cancelar</a>
                </div>
                <div class="relative mt-8">

                  <a data-dismiss="modal" (click)="inscribir()" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
                     " class="button  btn-lg text-white mr-3">Continuar</a>

                </div>
                <div class="relative mt-8"></div>

              </div>
            </div>

          </div>

          <div class="modal" id="confirmainscribirmemodal">
            <div class="modal__content modal__content--xl p-10 text-center">
              <div class="p-5 text-center">
                <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;font-weight:bold;">Inscripciòn</div>
                <div class=" mt-8 text-red text-center" style="color: #6B3F23; font-size: 25px;">¡Confirma tu Inscripción!</div>


                <div class=" mt-8 " style="font-size: 28px;">
                  ¿Confirmas que quieres aplicar a este proyecto?
                </div>
                <div class=" mt-6 " style="font-size: 15px;color:red;">
                  *Una vez confirmado no podrás inscribirte a otro proyecto al que hayas aplicado
                </div>

                <div class="px-5 pb-8 text-center">
                  <div class="sm:grid grid-cols-4 gap-2">
                    <div class="relative mt-8"></div>
                    <div class="relative mt-8">

                      <a data-dismiss="modal" style="background: gray; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
                        " class="button  btn-lg text-white ml-3">Cancelar</a>

                    </div>
                    <div class="relative mt-8">

                      <a data-dismiss="modal" (click)="confirmainscribir()" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
                    " class="button w-24 text-white">Confirmar</a>
                    </div>
                    <div class="relative mt-8"></div>

                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="container " id="horizontal-form">

      <div class="flex flex-col sm:flex-row items-center p-5 pb-1 border-b border-gray-200 dark:border-dark-5">
        <h2 class="mr-auto" style="font-family: 'Nunito', sans-serif; line-height: 1.5; font-weight: 560;  color: #e43f52;font-size: 2em;">
          {{proyectoModel.organizacion}}
        </h2>
      </div>
      <div class="flex flex-col sm:flex-row items-center pl-5 border-b border-gray-200 dark:border-dark-5">
        <div class="mr-auto font-medium" style="font-family:'Nunito', sans-serif;">{{proyectoModel.descripcion}}</div>
      </div>

      <div class="sm:grid grid-cols-3 gap-3">

        <div class="relative mt-8">
          <div>
            <div class="text-center" style="font-size:19px; color:#FF8800; font-weight: bold;">
              Razón de ser
            </div>
            <h3 class="text-base  mr-5 text-justify">
              {{organizacion.razon}}
            </h3>
          </div>
        </div>

        <div class="relative mt-8">
          <div>
            <div class="text-center" style="font-size:19px; color:#FF8800; font-weight: bold;">Visión</div>
            <h3 class="text-base  mr-5 text-justify">

              {{organizacion.vision}}
            </h3>
          </div>
        </div>

        <div class="relative mt-8">
          <div>
            <div class="text-center" style="font-size:19px; color:#FF8800; font-weight: bold;">Misión</div>
            <h3 class="text-base  mr-5 text-justify">
              {{organizacion.mision}}
            </h3>
          </div>
        </div>

      </div>


      <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
          <div class=" p-5">
            <div class="text-center" style="font-size:19px; color:#FF8800; font-weight: bold;">
              Contribución a los Objetivos de Desarrollo Sostenible | ONU
            </div>
            <div class="text-base  mt-6" align="center">
              <ul>
                <li>{{proyectoModel.objetivoOnu}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
          <div class=" p-5">
            <div class="text-center" style="font-size:19px; color:#FF8800; font-weight: bold;">
              Redes Sociales
            </div>
            <div class="text-base  mt-6" align="center">
              <div class="sm:grid grid-cols-3 gap-3">

                <div class="relative mt-8">
                  <div class="text-base  mr-5 text-justify">
                    <table>
                      <tr>
                        <td>
                          <a class="col-4 btn text-center " id="iweb" target="_blank" href="organizacion.web">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layout"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="9" y1="21" x2="9" y2="9"></line></svg>
                          </a>
                        <td>
                          <a class="col-4 btn text-center " id="iyoutube" target="_blank" href="organizacion.web">
                            Abrir pagina web
                          </a>
                        </td>
                      </tr>
                    </table>

                  </div>
                </div>
                <div class="relative mt-8">
                  <div class="text-base  mr-5 text-center">
                    <table>
                      <tr>
                        <td>
                          <a class="col-4 btn text-center " id="ifacebook" target="_blank" href="organizacion.facebook">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
                          </a>

                        <td>
                          <a class="col-4 btn text-center " id="iyoutube" target="_blank" href="organizacion.facebook">
                            Abrir Facebook
                          </a>
                        </td>
                      </tr>
                    </table>

                  </div>
                </div>
                <div class="relative mt-8">
                  <div class="text-base  mr-5 text-justify">
                    <table>
                      <tr>
                        <td>
                          <a class="col-4 btn text-center " id="iyoutube" target="_blank" href="organizacion.youtube">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-youtube"><path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"></path><polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon></svg>
                          </a>
                        <td>
                          <a class="col-4 btn text-center " id="iyoutube" target="_blank" href="organizacion.youtube">
                            Abrir Youtube
                          </a>
                        </td>
                      </tr>
                    </table>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
          <div class=" p-5">
            <div class="text-center" style="font-size:19px; color:#FF8800; font-weight: bold;">
              Principales Áreas de Acción
            </div>
            <div class="text-base  mt-6" align="left">
              <ul *ngFor="let area of organizacion.listaAreasAccion">
                <li class="ml-3">- {{area.areaAccion}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="preview">
        <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
          <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; color: #FF8300;">
            Proyecto
          </h2>
        </div>
        <div class="sm:grid grid-cols-2 gap-2">
          <div class="relative mt-8">
            <div>
              <label style="font-size:19px; color:#FF8800; font-weight: bold;">Nombre</label>
              <h5 class="text-base mr-5">
                {{proyectoModel.proyecto}}
              </h5>
            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label style="font-size:19px; color:#FF8800; font-weight: bold;">Descripción</label>
              <h3 class="text-base mr-5">

                {{proyectoModel.descripcion}}
              </h3>
            </div>
          </div>

          <div class="relative mt-8 col-span-12">
            <div>
              <label style="font-size:19px; color:#FF8800; font-weight: bold;">Objetivos</label>
              <h3 class="text-base text-medium mr-5">
                <textarea [disabled]="true" rows="10" style="width:100%">
            {{proyectoModel.objetivo}}
            </textarea>
              </h3>
            </div>
          </div>
          <div class="relative mt-8 col-span-12">
            <div>
              <label style="font-size:19px; color:#FF8800; font-weight: bold;">Role</label>
              <h3 class="text-base  mr-5">
                {{proyectoModel.rolPrestador}}
              </h3>
            </div>
          </div>

          <div class="relative mt-8 col-span-12 text-center">
            <div>
              <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                Horarios disponibles para la presentación del servicio social
              </label>
              <div class="intro-y items-center h-10 mt-3">
                <h3 class="text-base mr-5">
                  Hora entrada: {{proyectoModel.horaEntrada}} Hora salida: {{proyectoModel.horaSalida}}
                </h3>
              </div>
            </div>
          </div>

          <div class="relative mt-3 text-center col-span-12">
            <div>
              <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                Días hábiles para la prestación de servicio social:
              </label>
              <div class="intro-y flex items-center h-10 justify-center">

                <table style="padding: 15px; margin-left: 25px;">
                  <tbody>
                    <tr>

                      <td style="padding:5px;">
                        <label>
                          <input type="checkbox" id="lunes" [checked]="proyectoModel.lunes" disabled>
                          Lunes
                        </label>
                      </td>

                      <td style="padding:5px;">
                        <label>
                          <input type="checkbox" id="martes" [checked]="proyectoModel.martes" disabled>
                          Martes
                        </label>
                      </td>

                      <td style="padding:5px;">
                        <label>
                          <input type="checkbox" id="miercoles" [checked]="proyectoModel.miercoles" disabled>
                          Miércoles
                        </label>
                      </td>

                      <td style="padding:5px;">
                        <label>
                          <input type="checkbox" id="jueves" [checked]="proyectoModel.jueves" disabled>
                          Jueves
                        </label>
                      </td>

                      <td style="padding:5px;">
                        <label>
                          <input type="checkbox" id="viernes" [checked]="proyectoModel.viernes" disabled>
                          Viernes
                        </label>
                      </td>

                      <td style="padding:5px;">
                        <label>
                          <input type="checkbox" id="sabado" [checked]="proyectoModel.sabado" disabled>
                          Sábado
                        </label>
                      </td>

                      <td style="padding:5px;">
                        <label>
                          <input type="checkbox" id="domingo" [checked]="proyectoModel.domingo">
                          Domingo
                        </label>
                      </td>

                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>

        </div>

        <br>

        <div class="grid grid-cols-12 gap-6 mt-5">
          <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
            <div class=" p-5">
              <div class="text-base leading-8 mt-1" align="left">
                <h5 style="font-size:19px;  font-weight: bold; color: #FF8300;">Responsabilidades</h5>
              </div>
              <div class="text-base  mt-6" align="left">
                <h3 class="text-base   mr-5">
                  {{proyectoModel.responsabilidades}}
                </h3>
              </div>
            </div>
          </div>
        </div>




        <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
          <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; color: #FF8300; ">
            Perfil
          </h2>
        </div>



        <div class="grid grid-cols-12 gap-6 mt-5">
          <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
            <div class=" p-5">
              <div class="text-center" style="font-size:19px; color:#FF8800; font-weight: bold;">
                Carreras Afines
              </div>
              <div *ngFor="let carrera of proyectoModel.carrerasList" class="text-base  mt-1">
                <div class="flex items-center">
                  <div class="w-3 h-2 bg-theme-9 rounded-full mr-3"></div>
                  <span>{{carrera.carrera}}</span>
                </div>
              </div>

            </div>
          </div>

          <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
            <div class=" p-5">
              <div class="text-center" style="font-size:19px; color:#FF8800; font-weight: bold;">

                Competencias
              </div>
              <div *ngFor="let competencia of proyectoModel.competenciasList" class="text-base  mt-1">
                <div class="flex items-center">
                  <div class="w-3 h-2 bg-theme-9 rounded-full mr-3"></div>
                  <span>{{competencia.competencia}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
            <div class=" p-5">
              <div class="text-center" style="font-size:19px; color:#FF8800; font-weight: bold;">
                Contacto
              </div>
              <div class="text-base  mt-6"><b style="font-size:17px;  font-weight: bold; color: #FF8300;">Responsable:</b> {{proyectoModel.nombreResponsable}} </div>
              <div class="text-base  mt-6"><b style="font-size:17px;  font-weight: bold; color: #FF8300;">Correo:</b> {{proyectoModel.correoResponsable}}</div>

            </div>
          </div>

          <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
            <div class=" p-5">
              <div class="text-center" style="font-size:19px; color:#FF8800; font-weight: bold;">
                Ubicación
              </div>
              <div class="text-base  mt-6"> {{proyectoModel.organizacionDireccion}}</div>
            </div>
          </div>
        </div>

        <br>

        <div class="intro-y flex items-center h-10" *ngIf="proyectoalumno!=''">
          <h2 class="text-lg font-medium  mr-5">
            Reportes desempeño
          </h2>
        </div>


        <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0" *ngIf="proyectoalumno!=''">
          <div class="box p-5">

            <table class="table table-report sm:mt-2">
              <thead>
                <tr>

                  <th class="whitespace-no-wrap">Reporte</th>
                  <th class="whitespace-no-wrap">Fecha registro</th>
                  <th class="whitespace-no-wrap">Realizado</th>


                </tr>


              </thead>
              <tbody>
                <tr class="intro-x">

                  <td>
                    <div class="ext-base text-xs whitespace-no-wrap">  </div>
                  </td>
                  <td>
                    <div class="ext-base text-xs whitespace-no-wrap">  </div>
                  </td>
                  <td>
                    <div class="ext-base text-xs whitespace-no-wrap"> No </div>
                  </td>


                </tr>



              </tbody>
            </table>
            <button [routerLink]="['/empresas/evaluar', idobtenido]" class="button text-white bg-theme-1 shadow-md mr-2">Evaluar empresa</button>

          </div>

        </div>


      </div>
    </div>
  </div>
</div>
<!--END Estado del proyecto es menor o igual a 3-->
<!--Proyecto actual start-->
<div *ngIf="project!=null && estadoInscripcion==4" class="container" style="margin-top:5em;">
  <div class="col-span-12 ">

    <div class="flex flex-col sm:flex-row items-centerborder-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
      <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; color: #FF8300;">
        Proyecto Actual
      </h2>
    </div>
    <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
      <div class=" p-5">
        <div class="text-center">



          <br><h3 style="font-size:20px;  font-weight: bold">{{project.proyectoNombre}}<br>{{project.organizacion}}</h3>
        </div>
      </div>

    </div>


    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
      <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; color: #FF8300;">
        Cantidad de horas a cumplir en el proyecto "{{project.proyectoNombre}}"
      </h2>
    </div>
    <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
      <div class=" p-5" *ngIf="bandNoHoras && project!=null">

        <div class="text-center">
          <select class="input  w-64 border mt-2" [(ngModel)]="noHoras0" [ngModelOptions]="{standalone: true}">
            <option value="240">240</option>
            <option value="480">480</option>
            <option value="-1">otro</option>
          </select>
          <br />
          <input *ngIf="noHoras0==-1" type="number" class="input  w-64 border mt-2" name="noHoras" [(ngModel)]="noHoras" [ngModelOptions]="{standalone: true}" placeholder="cantidad de horas a cumplir en el proyecto" max="600" min="0">
          <br />
          <div class="flex justify-center text-center items-center mt-3 text-center">
            <!--style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;">-->
            <br>
            <a href="javascript:;" id="actuali" style="font-size:17px;font-weight:bold" (click)="actualizaHoras()" class="button inline-block bg-theme-1 text-white">Confirmar cantidad de horas a cumplir</a>

            <!--<a style="display: block;" (click)="actualizaHoras()" style="border-radius: 15px; font-size: 17px; cursor:pointer;" class="button  btn-lg text-white  ">Continuar</a> -->
          </div>

        </div>

      </div>
      <div class="text-center" *ngIf="!bandNoHoras  && project!=null" style="font-size:20px;  font-weight: bold">
        <h3 *ngIf="project.horasRegistradas == null"><b>0 </b>Horas regitradas de un total de</h3>
        <h3 *ngIf="project.horasRegistradas != null"><b>{{project.horasRegistradas}} </b>Horas registradas de un total de</h3>
        <h3><b>{{noHoras}} </b>Horas a cumplir en este proyecto.</h3>
        <br />
        <label>Si necesitas modificar la cantidad de horas a cumplir en este proyecto solicitalo con el coordinador de servicio social </label>
      </div>
    </div>

  </div>


  <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
    <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; color: #FF8300;">
      Reportes mensuales del proyecto "{{project.proyectoNombre}}"
    </h2>
  </div>
  <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
    <div class=" p-5">

      <table class="table table-report sm:mt-2" *ngIf="actividades!=null && actividades.length>0">
        <!-- <thead>
          <tr>
            <th class="whitespace-no-wrap">No</th>
            <th class="whitespace-no-wrap">Mes</th>
            <th class="whitespace-no-wrap">Reporte</th>
            <th class="whitespace-no-wrap">Validado</th>
            <th class="whitespace-no-wrap">Fecha</th>
            <th class="whitespace-no-wrap">Opciones</th>
          </tr>
        </thead> -->
        <tbody>
          <tr class="intro-x" *ngFor="let actividad of actividades; let i=index">
            <!-- <td>
              <div class="ext-base text-xs whitespace-no-wrap">{{i+1}}</div>
            </td> -->
            <td style="background: rgb(250, 250, 250);">
              <div class="ext-base text-xs whitespace-no-wrap" style="font-size:18px">{{actividad.titulo}}</div>
            </td>
            <!-- <td>
              <div class="ext-base text-xs whitespace-no-wrap">{{actividad.actividad.substr(0,50)}}</div>
            </td> -->
            <td style="background: rgb(250, 250, 250);">
              <div style="font-size: 18px; color: black;  font-weight: bold;" align="center">Estatus</div>

              <div class="py-1 px-2 rounded-full text-center bg-theme-9 text-white mt-3" style="font-size:18px;" data-toggle="tooltip" data-placement="top" title="Tooltip on top" *ngIf="actividad.validaEmpresa">
                <div class="tooltip top">
                  <span class="tiptext text-left">Reporte validado por parte de la instituciòn</span>
                  Validado
                </div>
              </div>
              <div class="py-1 px-2 rounded-full text-center  bg-theme-12 text-white mt-3" style="font-size:18px;" data-toggle="tooltip" data-placement="top" title="Tooltip on top" *ngIf="!actividad.validaEmpresa">
                <div class="tooltip top">
                  <span class="tiptext text-left">Esperando validaciòn por parte de la instituciòn</span>
                  Pendiente
                </div>
              </div>

            </td>
            <td style="background: rgb(250, 250, 250);">
              <div style="font-size: 18px; color: black;  font-weight: bold;" align="center">Fecha</div>

              <div style="font-size:18px" class="ext-base text-xs whitespace-no-wrap" align="center">{{actividad.fechaCreacion}}<!--{{actividad.fechaCreacion| date: 'dd-MM-yyyy'}}--></div>
            </td>
            <td style="background: rgb(250, 250, 250);">

              <div class="ext-base text-xs whitespace-no-wrap"><a href="javascript:;" (click)="mostarMas(actividad)" data-toggle="modal" data-target="#mostrarMas" class="button inline-block bg-theme-1 text-white" style="border-radius: 15px;font-weight: bold; width: 180px; margin: auto;font-size:15px;">Mostrar más</a></div>
            </td>
            <td style="background: rgb(250, 250, 250);">

              <div class="ext-base text-xs whitespace-no-wrap"><a href="javascript:;" (click)="editar(actividad)" data-toggle="modal" data-target="#actualizaActividad" class="button inline-block text-white" style="background: #FF8300;border-radius: 15px;font-weight: bold; width: 180px; margin: auto; font-size:15px;">Editar</a></div>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <div class="text-center"> <a href="javascript:;" data-toggle="modal" data-target="#subirActividad" class="button inline-block  text-white" style="background: #FF8300; border-radius: 15px;font-weight: bold;font-size:17px;">Agregar reporte</a> </div>
    </div>

  </div>

  <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
    <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; color: #FF8300;">
      Cartas del proyecto "{{project.proyectoNombre}}"
    </h2>
  </div>

  <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
    <div class=" p-5">

      <table class="table table-report sm:mt-2">
        <thead>
          <!-- <tr>
            <th class="whitespace-no-wrap">No</th>
            <th class="whitespace-no-wrap">Carta</th>
            <th>
              <div class="ext-base text-xs whitespace-no-wrap">Archivo</div>
            </th>

          </tr> -->
        </thead>
        <tbody>
          <tr class="intro-x">
            <td style="background: rgb(250, 250, 250);">
              <div class="ext-base text-xs whitespace-no-wrap" style="font-size:18px">1</div>
            </td>
            <td style="background: rgb(250, 250, 250);">

              <div class="ext-base text-xs whitespace-no-wrap" style="font-size:18px">Carta de inicio</div>
            </td>
            <td style="background: rgb(250, 250, 250);">
              <a *ngIf="project.rutaCartaInicio==null || project.rutaCartaInicio==''" href="javascript:;" data-toggle="modal" (click)="abrirSubirCarta(0)" class="button inline-block text-white" style="background:#FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto; font-size:18px">Agregar carta</a>
              <a *ngIf="project.rutaCartaInicio!=null && project.rutaCartaInicio!=''" href="javascript:;" data-toggle="modal" (click)="abrirSubirCarta(0)" class="button inline-block text-white" style="background: #FF8300;border-radius: 15px;font-weight: bold; width: 180px; margin: auto; font-size:18px"> Volver a cargar</a>
            </td>
            <td style="background: rgb(250, 250, 250);" *ngIf="project.rutaCartaInicio!=null && project.rutaCartaInicio!=''">
              <a href="javascript:;" (click)="descargarCarta(project.id,0)" class="button inline-block bg-theme-1 text-white" style="border-radius: 15px;font-weight: bold; width: 180px; margin: auto; font-size:18px">Mostar</a>
            </td>
            <!--<td>
              <div class="ext-base text-xs whitespace-no-wrap">{{carta.fechaCreacion| date: 'dd-MM-yyyy'}}</div>
            </td>-->
          </tr>
          <tr class="intro-x">
            <td style="background: rgb(250, 250, 250);">
              <div class="ext-base text-xs whitespace-no-wrap" style="font-size:18px">2</div>
            </td>
            <td style="background: rgb(250, 250, 250);">

              <div class="ext-base text-xs whitespace-no-wrap" style="font-size:18px">Carta de termino</div>
            </td>
            <td style="background: rgb(250, 250, 250);">
              <a *ngIf="project.rutaCartaTermino==null || project.rutaCartaTermino==''" href="javascript:;" data-toggle="modal" (click)="abrirSubirCarta(1)" class="button inline-block text-white" style="background: #FF8300;border-radius: 15px;font-weight: bold; width: 180px; margin: auto; font-size:18px">Agregar carta</a>
              <a *ngIf="project.rutaCartaTermino!=null && project.rutaCartaTermino!=''" href="javascript:;" data-toggle="modal" (click)="abrirSubirCarta(1)" class="button inline-block text-white" style="background: #FF8300;border-radius: 15px;font-weight: bold; width: 180px; margin: auto; font-size:18px">Volver a cargar</a>
            </td>
            <td *ngIf="project.rutaCartaTermino!=null && project.rutaCartaTermino!=''" style="background: rgb(250, 250, 250);">
              <a href="javascript:;" (click)="descargarCarta(project.id,1)" class="button inline-block bg-theme-1 text-white" style="border-radius: 15px;font-weight: bold; width: 180px; margin: auto;font-size:18px">Mostrar</a>
            </td>
            <!--<td>
              <div class="ext-base text-xs whitespace-no-wrap">{{carta.fechaCreacion| date: 'dd-MM-yyyy'}}</div>
            </td>-->
          </tr>
        </tbody>
      </table>
      <!--<div class="text-center"> <a href="javascript:;" data-toggle="modal" data-target="#subirActividad" class="button inline-block bg-theme-1 text-white">Agregar carta</a> </div>-->
    </div>

  </div>

  <div *ngIf="muestraEvaluacion1 || muestraEvaluacion2">
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
      <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; color: #FF8300;">
        Evaluación "{{project.proyectoNombre}}"
      </h2>
    </div>

    <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
      <div class=" p-5">

        <table class="table table-report sm:mt-2">
          <thead>
          </thead>
          <tbody>
            <tr class="intro-x" *ngIf="muestraEvaluacion1">
              <td style="background: rgb(250, 250, 250);">
                <div class="ext-base text-xs whitespace-no-wrap" style="font-size:18px">1</div>
              </td>
              <td style="background: rgb(250, 250, 250);">
                <div class="ext-base text-xs whitespace-no-wrap" style="font-size:18px">
                  EVALUACIÓN INTERMEDIA
                </div>
              </td>
              <td style="background: rgb(250, 250, 250);">
                <a *ngIf="RespuestasEvaluaciones1.length ==null || RespuestasEvaluaciones1.length == 0" [routerLink]="['/empresas/evaluar/1',project.id]" class="button inline-block text-white" style="background:#FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto; font-size:18px">evaluar</a>
                <div *ngIf="RespuestasEvaluaciones1.length !=null && RespuestasEvaluaciones1.length > 0" class="button inline-block bg-theme-1 text-white" style="border-radius: 15px;font-weight: bold; width: 180px; margin: auto; font-size:18px">Evaluada</div>
              </td>
            </tr>
            <tr class="intro-x" *ngIf="muestraEvaluacion2">
              <td style="background: rgb(250, 250, 250);">
                <div class="ext-base text-xs whitespace-no-wrap" style="font-size:18px">2</div>
              </td>
              <td style="background: rgb(250, 250, 250);">

                <div class="ext-base text-xs whitespace-no-wrap" style="font-size:18px">
                  EVALUACIÓN FINAL
                </div>
              </td>
              <td style="background: rgb(250, 250, 250);">
                <a *ngIf="RespuestasEvaluaciones2.length ==null || RespuestasEvaluaciones2.length == 0" [routerLink]="['/empresas/evaluar/2',project.id]" class="button inline-block text-white" style="background: #FF8300;border-radius: 15px;font-weight: bold; width: 180px; margin: auto; font-size:18px">evaluar</a>
                <div *ngIf="RespuestasEvaluaciones2.length !=null && RespuestasEvaluaciones2.length > 0" class="button inline-block bg-theme-1 text-white" style="border-radius: 15px;font-weight: bold; width: 180px; margin: auto;font-size:18px">Evaluada</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<div class="modal" id="subirActividad">
  <div class="modal__content modal__content--lg" style="width:80%">
    <form #form="ngForm" (ngSubmit)="agregaActividad()">
      <div class="p-5 text-center">
        <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;">Nuevo Reporte</div>

        <div class="text-base mt-5">Mes</div>
        <!--<input class="input  w-64 border mt-2" type="text" id="titulo" name="titulo" [(ngModel)]="alumnoActividad.titulo">-->
        <select class="input  w-64 border mt-2" [(ngModel)]="alumnoActividad.titulo" [ngModelOptions]="{standalone: true}">
          <option value="'Enero'">Enero</option>
          <option value="'Febrero'">Febrero</option>
          <option value="'Marzo'">Marzo</option>
          <option value="'Abril'">Abril</option>
          <option value="'Mayo'">Mayo</option>
          <option value="'Junio'">Junio</option>
          <option value="'Julio'">Julio</option>
          <option value="'Agosto'">Agosto</option>
          <option value="'Septiembre'">Septiembre</option>
          <option value="'Octubre'">Octubre</option>
          <option value="'Noviembre'">Noviembre</option>
          <option value="'Diciembre'">Diciembre</option>
        </select>

        <div class="text-base mt-5">Actividad</div>
        <textarea class="input  w-64 border mt-2" rows="10" type="text" id="actividad" name="actividad" [(ngModel)]="alumnoActividad.actividad" style="width:80%"></textarea>
        <div class="text-base mt-5">Adjunto</div>
        <br />
        <input type="file" id="adjunto" name="adjunto" accept="application/pdf" (change)="uploadFile($event.target.files)">

      </div>
      <div class="px-5 pb-8 text-center">
        <div class="sm:grid grid-cols-2 gap-2">

          <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1" style="border-radius: 15px;font-weight: bold; width: 180px; margin: auto;">
            Cancelar
          </button>
          <button type="submit" data-dismiss="modal" class="button w-24 text-white" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
            ">
            Guardar
          </button>
        </div>
      </div>

    </form>

  </div>
</div>




<div class="modal" id="actualizaActividad">
  <div class="modal__content modal__content--lg" style="width:80%">
    <form #form="ngForm" (ngSubmit)="actualizaActividad()">
      <div class="p-5 text-center">
        <div class="text-base mt-5">Mes</div>
        <!--<input class="input  w-64 border mt-2" type="text" id="titulo" name="titulo" [(ngModel)]="alumnoActividad.titulo">-->
        <select class="input  w-64 border mt-2" [(ngModel)]="alumnoActividadActualiza.titulo" [ngModelOptions]="{standalone: true}">
          <option value="'Enero'">Enero</option>
          <option value="'Febrero'">Febrero</option>
          <option value="'Marzo'">Marzo</option>
          <option value="'Abril'">Abril</option>
          <option value="'Mayo'">Mayo</option>
          <option value="'Junio'">Junio</option>
          <option value="'Julio'">Julio</option>
          <option value="'Agosto'">Agosto</option>
          <option value="'Septiembre'">Septiembre</option>
          <option value="'Octubre'">Octubre</option>
          <option value="'Noviembre'">Noviembre</option>
          <option value="'Diciembre'">Diciembre</option>
        </select>

        <div class="text-base mt-5">Actividad</div>
        <textarea class="input border mt-2" rows="10" type="text" id="actividad" name="actividad" [(ngModel)]="alumnoActividadActualiza.actividad" style="width:80%"></textarea>
        <div class="text-base mt-5">Adjunto</div>
        <br />
        <input type="file" id="adjunto" name="adjunto" accept="application/pdf" (change)="uploadFile($event.target.files)">

      </div>
      <div class="px-5 pb-8 text-center">
        <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1" style="    border-radius: 15px;
    font-weight: bold;
    width: 180px;
    margin: auto;
  ">
          Cancelar
        </button>            <button type="submit" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Guardar</button>
      </div>
    </form>

  </div>
</div>

<div class="modal" id="mostrarMas">


  <div class="modal__content modal__content--lg" style="width:80%">
    <div class="p-5 text-center">
      <table width="100%">
        <thead>
          <tr>
            <th>
              <div class="text-base text-bold mt-5">Título</div>
            </th>
            <th>
              <div class="text-base text-bold mt-5">Fecha</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="text-base text-gray-600 mt-5">{{alumnoActividadD.titulo}}</div>
            </td>
            <td>
              <div class="text-base text-gray-600 mt-5">{{alumnoActividadD.fechaCreacion}}<!--{{alumnoActividadD.fechaCreacion| date: 'dd-MM-yyyy'}}--></div>
            </td>
          </tr>
          <tr>
            <th colspan="2"><div class="text-base mt-5">Actividad</div></th>
          </tr>
          <tr>
            <td colspan="2">
              <div class="text-base text-gray-600 mt-5 text-justify">
                <textarea readonly rows="5" style="width: 100%;"> {{alumnoActividadD.actividad}}</textarea>
              </div>
            </td>
          </tr>
          <tr *ngIf="alumnoActividadD.ruta!=null && alumnoActividadD.ruta!=''">
            <th colspan="2"><div class="text-base mt-5">adjunto</div></th>
          </tr>
          <tr *ngIf="alumnoActividadD.archivo!=null && alumnoActividadD.archivo!=''">
            <td colspan="2">
              <div class="text-base text-gray-600 mt-5">

                <a href="javascript:;" (click)="descargarAdjuntoActividad(alumnoActividadD.id)" class="button inline-block bg-theme-1 text-white">Mostar</a>

              </div>
            </td>
          </tr>
        </tbody>
      </table>


      <!--<input class="input  w-64 border mt-2" type="text" id="titulo" name="titulo" [(ngModel)]="alumnoActividadD.titulo" readonly>-->
      <!--<textarea class="input  w-64 border mt-2" type="text" id="actividad" name="actividad" [(ngModel)]="" readonly></textarea>-->
    </div>
    <div class="px-5 pb-8 text-center">
      <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1">Cerrar</button>
    </div>
  </div>
</div>

<div class="modal" id="subirCarta">
  <div class="modal__content modal__content--xl p-10 text-center">
    <form #form="ngForm" (ngSubmit)="subeArchivoCarta()">
      <div class="p-5 text-center">
        <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;" *ngIf="idArchivo==0">Subir carta de inicio</div>
        <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;" *ngIf="idArchivo==1">Subir carta de termino</div>


        <br>
        <input type="file" id="file" name="file" accept="application/pdf" (change)="uploadFile($event.target.files)">
      </div>
      <div class="px-5 pb-8 text-center">
        <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1" style="border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
            ">
          Cancelar
        </button>            <button type="submit" data-dismiss="modal" class="button w-24 text-white" style=" border-radius: 15px; font-size: 17px; background-color: #FF8300;">Subir</button>
      </div>
    </form>
  </div>
</div>
<div class="modal" id="success-modal-preview-file">
  <div class="modal__content modal__content--xl p-10 text-center">
    <div class="p-5 text-center">
      <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>

      <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;">¡Muy bien!</div>
      <div class=" mt-2 text-red text-center" style="color: #6B3F23; font-size: 25px;">Se subió el reporte</div>


    </div>
    <div class="flex justify-center text-center items-center mt-3 text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
      "> <br> <a data-dismiss="modal" style=" border-radius: 15px; font-size: 17px;" class="button  btn-lg text-white  ">Continuar</a> </div>
  </div>
</div>

<div class="modal" id="success-modal-preview-carta">
  <div class="modal__content modal__content--xl p-10 text-center">
    <div class="p-5 text-center">
      <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>

      <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;">¡Muy bien!</div>
      <div class=" mt-2 text-red text-center" style="color: #6B3F23; font-size: 25px;">Se subió la carta</div>


    </div>
    <div class="flex justify-center text-center items-center mt-3 text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
      "> <br> <a data-dismiss="modal" style=" border-radius: 15px; font-size: 17px;" class="button  btn-lg text-white  ">Continuar</a> </div>
  </div>
</div>

<div class="modal" id="success-modal-actualizaHoras">
  <div class="modal__content modal__content--xl p-10 text-center">
    <div class="p-5 text-center">
      <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>

      <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;">¡Muy bien!</div>
      <div class=" mt-2 text-red text-center" style="color: #6B3F23; font-size: 25px;">Se actualizo las horas a cumplir en el proyecto</div>

    </div>
    <div class="flex justify-center text-center items-center mt-3 text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
      "> <br> <a data-dismiss="modal" style=" border-radius: 15px; font-size: 17px;" class="button  btn-lg text-white  ">Continuar</a> </div>
  </div>
</div>

<!--Proyecto actual END-->
<!--Proyectos terminados start-->
<div class="box" style="margin-top:5em;" *ngIf="projectArrayTerminados!=null && projectArrayTerminados.length>0">
  <div class="intro-y overflow-auto lg:overflow-visible mt-8" (click)="ocultaMuestraTerminados()">
    <button style="width:100%">
      <div class="box p-5" style="background-color:#FF8300;">
        <div class="text-center">
          <h2 class="text-lg font-medium text-white"><b>Proyecto terminado </b></h2>
        </div>
      </div>
    </button>
  </div>

  <div>
    <div class="col-span-12 mt-6" *ngFor="let projectEnded of projectArrayTerminados; let i=index">

      <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
        <div class="box p-5">
          <div class="text-center">
            <h2 class="text-lg font-medium text-theme-11"><b>Nombre de proyecto </b></h2> <br><h3>{{projectEnded.proyectoNombre}}<br>{{projectEnded.organizacion}}</h3>
          </div>
        </div>

      </div>

      <div class="p-5 intro-y flex items-center">
        <h2 class="text-lg font-medium truncate mr-5 text-theme-11">
          Cantidad de horas a cumplir en el proyecto "{{projectEnded.proyectoNombre}}"
        </h2>
      </div>


      <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
        <div class="box p-5">

          <div class="text-center">
            <h3 *ngIf="projectEnded.horasRegistradas == null"><b>0 </b>Horas regitradas de un total de</h3>
            <h3 *ngIf="projectEnded.horasRegistradas != null"><b>{{projectEnded.horasRegistradas}} </b>Horas regitradas de un total de</h3>
            <h3><b>{{projectEnded.noHoras}} </b>Horas a cumplir en este proyecto.</h3>
            <br />
            <label>Si necesitas modificar la cantidad de horas a cumplir en este proyecto solicitalo con el coordinador de servicio social </label>
          </div>
        </div>
      </div>

      <div class="p-5 intro-y flex items-center">
        <h2 class="text-lg font-medium truncate mr-5  text-theme-11">
          Actividades del proyecto "{{projectEnded.proyectoNombre}}"
        </h2>
      </div>

      <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
        <div class="box p-5">

          <table class="table table-report sm:mt-2" *ngIf="projectEnded.actividades!=null && projectEnded.actividades.length>0">
            <thead>
              <tr>
                <th class="whitespace-no-wrap">No</th>
                <th class="whitespace-no-wrap">Reporte</th>
                <th class="whitespace-no-wrap">Actividad</th>
                <th class="whitespace-no-wrap">Validado</th>
                <th class="whitespace-no-wrap">Fecha</th>
                <th class="whitespace-no-wrap">Mostrar</th>
              </tr>
            </thead>
            <tbody>
              <tr class="intro-x" *ngFor="let actividad of projectEnded.actividades; let i=index">
                <td>
                  <div class="ext-base text-xs whitespace-no-wrap">{{i+1}}</div>
                </td>
                <td>
                  <div class="ext-base text-xs whitespace-no-wrap">{{actividad.titulo}}</div>
                </td>
                <td>
                  <div class="ext-base text-xs whitespace-no-wrap">{{actividad.actividad.substr(0,50)}}</div>
                </td>
                <td>
                  <div class="ext-base text-xs whitespace-no-wrap" *ngIf="actividad.validaEmpresa">si</div>
                  <div class="ext-base text-xs whitespace-no-wrap" *ngIf="!actividad.validaEmpresa">no</div>
                </td>
                <td>
                  <div class="ext-base text-xs whitespace-no-wrap">{{actividad.fechaCreacion}}<!--{{actividad.fechaCreacion| date: 'dd-MM-yyyy'}}--></div>
                </td>
                <td>
                  <div class="ext-base text-xs whitespace-no-wrap"><a href="javascript:;" (click)="mostarMas(actividad)" data-toggle="modal" data-target="#mostrarMas" style="border-radius: 15px;font-weight: bold; width: 180px; margin: auto;" class="button inline-block bg-theme-1 text-white">mostrar más</a></div>
                </td>
              </tr>
            </tbody>
          </table>
          <!--<div class="text-center"> <a href="javascript:;" data-toggle="modal" data-target="#subirActividad" class="button inline-block bg-theme-1 text-white">Agregar actividades</a> </div>-->
          <div *ngIf="projectEnded.actividades==null || projectEnded.actividades.length==0">
            sin actividades registradas
          </div>
        </div>
      </div>


      <div class="p-5 intro-y flex items-center">
        <h2 class="text-lg font-medium truncate mr-5 text-theme-11">
          Cartas del proyecto "{{projectEnded.proyectoNombre}}"
        </h2>
      </div>

      <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
        <div class="box p-5">

          <table class="table table-report sm:mt-2">
            <thead>
              <tr>
                <th class="whitespace-no-wrap">No</th>
                <th class="whitespace-no-wrap">Reporte</th>
                <th>
                  <div class="ext-base text-xs whitespace-no-wrap">Archivo</div>
                </th>

                <!--<th class="whitespace-no-wrap">Fecha</th>-->
              </tr>
            </thead>
            <tbody>
              <tr class="intro-x">
                <td>
                  <div class="ext-base text-xs whitespace-no-wrap">1</div>
                </td>
                <td>
                  <div class="ext-base text-xs whitespace-no-wrap">Carta de inicio</div>
                </td>
                <td>
                  <!--<a *ngIf="project.rutaCartaInicio==null || project.rutaCartaInicio==''" href="javascript:;" data-toggle="modal" (click)="abrirSubirCarta(0)" class="button inline-block bg-theme-1 text-white">Agregar carta</a>-->
                  <a *ngIf="projectEnded.rutaCartaInicio!=null && projectEnded.rutaCartaInicio!=''" href="javascript:;" (click)="descargarCarta(projectEnded.id,0)" style="border-radius: 15px;font-weight: bold; width: 180px; margin: auto;" class="button inline-block bg-theme-1 text-white">Descargar</a>
                </td>
                <!--<td>
                  <div class="ext-base text-xs whitespace-no-wrap">{{carta.fechaCreacion| date: 'dd-MM-yyyy'}}</div>
                </td>-->
              </tr>
              <tr class="intro-x">
                <td>
                  <div class="ext-base text-xs whitespace-no-wrap">2</div>
                </td>
                <td>
                  <div class="ext-base text-xs whitespace-no-wrap">Carta de termino</div>
                </td>
                <td>
                  <!--<a *ngIf="project.rutaCartaTermino==null || project.rutaCartaTermino==''" href="javascript:;" data-toggle="modal" (click)="abrirSubirCarta(1)" class="button inline-block bg-theme-1 text-white">Agregar carta</a>-->
                  <a *ngIf="projectEnded.rutaCartaTermino!=null && projectEnded.rutaCartaTermino!=''" href="javascript:;" (click)="descargarCarta(projectEnded.id,1)" style="border-radius: 15px;font-weight: bold; width: 180px; margin: auto;" class="button inline-block bg-theme-1 text-white">Descargar</a>
                </td>
                <!--<td>
                  <div class="ext-base text-xs whitespace-no-wrap">{{carta.fechaCreacion| date: 'dd-MM-yyyy'}}</div>
                </td>-->
              </tr>
            </tbody>
          </table>
          <!--<div class="text-center"> <a href="javascript:;" data-toggle="modal" data-target="#subirActividad" class="button inline-block bg-theme-1 text-white">Agregar carta</a> </div>-->
        </div>

      </div>

    </div>
  </div>
</div>
<!--Proyectos terminados END-->
