<app-menu></app-menu>


<div class="content">
    <div class="modal" id="solo3">
        <div class="modal__content">
            <div class="p-5 text-center"> <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
                <div class="text-3xl mt-5">Advertencia!</div>
                <div class="text-gray-600 mt-2">Solo se permite las 3 primeras areas seleccionadas!</div>
            </div>
            <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
        </div>
    </div>

    <div class="modal" id="success-modal-preview">
        <div class="modal__content">
            <div class="p-5 text-center"> <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
                <div class="text-3xl mt-5">Muy bien!</div>
                <div class="text-gray-600 mt-2">Has agregado una empresa!</div>
            </div>
            <a (click)="recargar();" >
            <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
        </a>
        </div>
    </div>
    <div class="modal" id="validacion">
        <div class="modal__content">
            <div class="p-5 text-center"> <i data-feather="x-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
                <div class="text-gray-600 mt-2">{{mensajevalidacion}}</div>
            </div>
            <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
        </div>
    </div>
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            Agregar Empresa
        </h2>

    </div>

    <form (ngSubmit)="create()" #form="ngForm">

        <!-- BEGIN: FORM  box p-5 mt-5 w-full -->

        <div class="intro-y box mt-5">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                <h2 class="font-medium text-base mr-auto">
                    Información General
                </h2>
            </div>

<br>

            <div class="mt-3">
                <div class="sm:grid grid-cols-1 gap-2">
                     <div class="relative mt-2">
                        <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                            <h2 class="font-medium text-base mr-auto">
                                 Empresa Externa
                            </h2>
                        </div>

                        <div class="flex flex-col sm:flex-row items-center mt-3">
                            <label class="sm:w-32 sm:text-right sm:mr-5">¿Empresa externa? </label>
                            <select class="input input--sm border mr-2 sm:w-64" [(ngModel)]="responsablemodel.externa" [ngModelOptions]="{standalone: true}" (ngModelChange)="externa()">
<option [ngValue]="true">Si </option>

<option [ngValue]="false">No </option>

</select>
                        </div>


                    </div> 
                </div>
            </div> 
            <br><br><br>

            <div  class="p-5" id="horizontal-form" *ngIf="cambio">


                <div class="flex flex-1 px-5 items-center justify-center lg:justify-start">
                    <div class="w-0 h-20 sm:w-24 sm:h-24 flex-none lg:w-64 lg:h-40 image-fit relative">
                        <img alt="Midone Tailwind HTML Admin Template" id="blah" class="full" src="{{logo}}">*
                    </div>
                    <div class="button text-white bg-theme-1 shadow-md mr-2">
                        <a (click)="abrirsubir()">
                          Cambiar imagen
                        </a>
                    </div>
                </div>
                <p>
                    *La resolución de la imagen debe ser de  1280 x 720.
                 </p>
                <div class="modal" id="abrirsubir">
                    <div class="modal__content">
                        <form #form="ngForm" (ngSubmit)="subeArchivo()">
                            <div class="p-5 text-center">
                              
                                <div class="text-base mt-5">Subir Imagen</div>
                                <br>
                                <input type="file" id="file" accept="image/png, image/jpeg" name="file" (change)="uploadFile($event.target.files)">
                            </div>

                            <div class="px-5 pb-8 text-center">
                                <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1">
                Cancelar
              </button>
                                <button type="submit" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Subir</button>
                            </div>
                        </form>


                    </div>
                </div>

                <div class="preview">
                    <div class="mt-3">
                        <div class="sm:grid grid-cols-2 gap-2">
                            <div class="relative mt-2">
                                <div>
                                    <label>Nombre Oficial de la Institución (denominación o razón social)*</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="Como aparece en el Acta Constitutiva" [(ngModel)]="empresaModel.organizacion" [ngModelOptions]="{standalone: true}" required>

                                </div>

                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label>Nombre Común de la Institución (nombre comercial)*</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="Escribir el nombre con el que es comúnmente conocida la Institución" [(ngModel)]="empresaModel.nombreComun" [ngModelOptions]="{standalone: true}" required>
                                </div>
                            </div>
                     
                        </div>
                    </div>
                    <br>
                        <div class="mt-3">
                            <div class="sm:grid grid-cols-1 gap-2">
                                <div class="relative mt-2">
                                    <div>
                                        <label>Descripción introductoria de la Institución (Objeto o Finalidad de la Institución)*</label>
                                        <textarea type="text" class="input  w-full border mt-2 " rows="3" placeholder="Máximo 500 caracteres" [(ngModel)]="empresaModel.descripcion" [ngModelOptions]="{standalone: true}" required></textarea>
                                    </div>
    
                                </div>
                           
                            </div>
                        </div>
                        <br>
                      
                    <div class="mt-3">
                        <div class="sm:grid grid-cols-2 gap-2">
                          
                                 <div class="relative mt-2">
                                    <div>
                                        <label>Años de Antigüedad de la Institución*</label>
                                        <input type="number" ng-value="0" class="input  w-full border mt-2 " rows="3" placeholder="¿Cuántos años lleva en pie la organización desde su fundación?" [(ngModel)]="empresaModel.antiguedad" [ngModelOptions]="{standalone: true}" required>
                                    </div>
    
                                </div>
                                <div class="relative mt-2">
                                    <div>
                                        <label>¿Cuál es la razón de ser de la Institución?*</label>
                                        <textarea type="text" maxlength='500' class="input  w-full border mt-2 " rows="5" placeholder="Responda en función al principal propósito de la Institución | Máximo 500 caracteres" [(ngModel)]="empresaModel.razon" [ngModelOptions]="{standalone: true}" required></textarea>
    
                                    </div>
    
                                </div>

                          
                            </div>
                        </div>
                        <br>
                        <div class="mt-3">
                            <div class="sm:grid grid-cols-2 gap-2">
                                <div class="relative mt-2">
                                    <div>
                                        <label>Visión*</label>
                                        <textarea type="text"  maxlength='500' class="input  w-full border mt-2 " rows="5" placeholder="Máximo 500 caracteres" [(ngModel)]="empresaModel.vision" [ngModelOptions]="{standalone: true}" required></textarea>
                               </div>
                                </div>
                                <div class="relative mt-2">
                                    <div>
                                        <label>Misión*</label>
                                        <textarea type="text" maxlength='500' class="input  w-full border mt-2 " rows="5" placeholder="Máximo 500 caracteres" [(ngModel)]="empresaModel.mision" [ngModelOptions]="{standalone: true}" required></textarea>
                               </div>
                                </div>
                         
                            </div>
                        </div>
                    <br>
                    <div class="mt-3">
                        <div class="sm:grid grid-cols-3 gap-2">
  
  
                          <div class="relative mt-2">
                            <div>
                              <label>Principales Objetivos*</label>
                              <textarea type="text" class="input  w-full border mt-2 " rows="5" maxlength="500" placeholder="Enlistarlos en orden de prioridad / Máximo 7" [(ngModel)]="empresaModel.objetivo" [ngModelOptions]="{standalone: true}" required></textarea>
                            </div>
                          </div>
  
                          <div class="relative mt-2">
                            <div>
  
                              <div>
                                <label>Enumere los Principales Logros de la Institución* </label>
                                <textarea type="text" class="input  w-full border mt-2 " maxlength="500" rows="5" placeholder="Enlista máximo 7" [(ngModel)]="empresaModel.logros" [ngModelOptions]="{standalone: true}" required></textarea>
  
                              </div>
  
                            </div>
                          </div>
     
                          <div class="relative mt-2">
                            <div>
                              <label>Enumere los Reconocimientos y Certificaciones con los que cuenta la Institución*</label>
                              <textarea type="text" class="input  w-full border mt-2 " rows="5" placeholder="Enlista máximo 7" [(ngModel)]="empresaModel.reconocimiento" [ngModelOptions]="{standalone: true}" required></textarea>
  
                            </div>
  
                          </div>
  
  
                        </div>
                      </div>



                    <br>


                    <div class="mt-3">
                        <div class="sm:grid grid-cols-2 gap-2">
                            <div class="relative mt-2">
                                <div>
                                    <label>Tipo de Organización*</label>
                                    <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.idTipoOrganizacion" [ngModelOptions]="{standalone: true}">
                    <option [ngValue]="ti.id" *ngFor="let ti of tipo">{{ti.tipo}} </option>


                  </select>
                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label>¿La Institución pertenece a la Legión de Cristo?*</label>
                                    <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.legionario" [ngModelOptions]="{standalone: true}"  >
                                        <option [ngValue]="true">Si </option>

                                        <option [ngValue]="false">No </option>
                                                                        </select>                                </div>

                            </div>
                            <!-- <div class="relative mt-2">
                                <div>
                                    <label>Giro*</label>
                                    <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.idGiroOrganizacion" [ngModelOptions]="{standalone: true}">
            <option [ngValue]="gi.id" *ngFor="let gi of giro">{{gi.giro}} </option>


          </select>
                                </div>


                            </div>
                            <div class="relative mt-2">
                                <div>

                                    <div>
                                        <label>Clacificación*</label>
                                        <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.idClasificacionOrganizacion" [ngModelOptions]="{standalone: true}">
              <option [ngValue]="cl.id" *ngFor="let cl of clasificacion">{{cl.clasificacion}}</option>

            </select>
                                    </div>


                                </div>
                            </div>
                        -->
                        </div>
                    </div>

                    <br>
                    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                        <h2 class="font-medium text-base mr-auto">
                             Redes sociales
                        </h2>
                        <br>
                    </div>


                    <div class="mt-3">
                        <div class="sm:grid grid-cols-2 gap-2">
                            <div class="relative mt-2">
                                <div>
                                    <label>Página Web*</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="Link del perfil de la Institución" [(ngModel)]="empresaModel.web" [ngModelOptions]="{standalone: true}" required>
                                </div>
                            </div>

                            <div class="relative mt-2">
                                <div>
                                    <label>Facebook*</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="Link del perfil de la Institución" [(ngModel)]="empresaModel.facebook" [ngModelOptions]="{standalone: true}" required>
                                </div>
                            </div>         
                            
                   
                        </div>
                    </div>

                    <br>
                    <div class="mt-3">
                        
                        <div class="sm:grid grid-cols-3 gap-2">
                            <div class="relative mt-2">
                                <div>
                                    <label>Instagram</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="Link del perfil de la Institución" [(ngModel)]="empresaModel.instagram" [ngModelOptions]="{standalone: true}" required>
                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label>YouTube</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="Link del perfil de la Institución" [(ngModel)]="empresaModel.youtube" [ngModelOptions]="{standalone: true}" required>
                                </div>
                            </div>
                            
                            <div class="relative mt-2">
                                <div>
                                    <label>Tik Tok</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="Link del perfil de la Institución" [(ngModel)]="empresaModel.tiktok" [ngModelOptions]="{standalone: true}" required>
                                </div>
                            </div>         
                          
                   
                        </div>
                    </div>
                    <br>



                    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                        <h2 class="font-medium text-base mr-auto">
                             Contacto
                        </h2>
                        <br>
                    </div>

                    <div class="mt-3">
                        <div class="sm:grid grid-cols-2 gap-2">
                            <div class="relative mt-2">
                                <div>
                                    <label>Nombre del Titular o Director de la Institución*</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.nombreCompletoDirector" [ngModelOptions]="{standalone: true}">
                                </div>
    
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label>Nombre del Responsable de Servicio Social en la Institución*</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.nombreCompletoResponsable" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                    <div class="mt-3">
                        <div class="sm:grid grid-cols-3 gap-2">
                        
                            <div class="relative mt-2">
                                <div>
                                    <label>Departamento o Área*</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.departamento" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label>Puesto del Responsable de Servicio Social*</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.puesto" [ngModelOptions]="{standalone: true}">
                                </div>
    
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label>Número telefónico del Responsable de Servicio Social*</label>
                                    <input type="tel" maxlength='20' class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.telefono" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="mt-3">
                        <div class="sm:grid grid-cols-2 gap-2">
                      
                            <div class="relative mt-2">
                                <div>
                                    <label>Correo del Responsable de Servicio Social*</label>
                                    <input type="text" class="input  w-full border mt-2 " type="email" placeholder="" [(ngModel)]="responsablemodel.correo" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label>Contraseña del Responsable de Servicio Social*</label>
                                    <input type="password" id="password" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.contrasena" [ngModelOptions]="{standalone: true}">
                                <!-- checkbox que nos permite activar o desactivar la opcion -->
        <div style="margin-top:3px;">
            <input style="margin-left:20px;" type="checkbox" id="mostrar_contrasena" title="clic para mostrar contraseña" (change)="mostrarpass()" />
            &nbsp;&nbsp;Mostrar Contraseña</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <br>
                    <br>





                    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                        <h2 class="font-medium text-base mr-auto">
                             Domicilio
                        </h2>
                    </div>

                    <div class="mt-3">
                        <div class="sm:grid grid-cols-3 gap-2">
                            <div class="relative mt-2">
                                <div>
                                    <label>CP*</label>
                                    <div class="sm:grid grid-cols-2 gap-2">
                                        <div class="relative mt-2">

                                    <input type="text" class="input  w-full border mt-2 " minlength="5" maxlength="5" placeholder="" placeholder="" [(ngModel)]="empresaModel.cp" [ngModelOptions]="{standalone: true}" >
                                </div>

                                    <div class="relative mt-3" align="center">

                                   <button type="button" (click)="obtenerdireccion()" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">buscar</button> 

                                </div>
                            </div>
                        </div>

                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label>País*</label>
                       
                                        <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.pais" [ngModelOptions]="{standalone: true}"  >
                        <option  *ngFor="let pais of listapais" [ngValue]="pais" >{{pais}} </option>
                        
                        
                        </select>
                             
                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label>Estado*</label>

                                    <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.estado" [ngModelOptions]="{standalone: true}"  >
                                        <option *ngFor="let estado of listaestados" [ngValue]="estado" >{{estado}} </option>
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>


                    <div class="mt-3">
                        <div class="sm:grid grid-cols-3 gap-2">
                            <div class="relative mt-2">
                                <div>
                                    <label>Alcaldía/Municipio*</label>
                                    <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.municipio" [ngModelOptions]="{standalone: true}"  >
                                        <option *ngFor="let municipio of listamunicipios" [ngValue]="municipio" >{{municipio}} </option>
                                    </select>                                </div>

                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label>Ciudad*</label>
                                    <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.ciudad" [ngModelOptions]="{standalone: true}"  >
                                        <option  *ngFor="let ciudad of listaciudad" [ngValue]="ciudad" >{{ciudad}} </option>
                                    </select>                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label>Colonia*</label>
                                    <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.colonia" [ngModelOptions]="{standalone: true}"  >
                                        <option *ngFor="let colonia of listacolonias" [ngValue]="colonia" >{{colonia}} </option>
                                    </select>                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="mt-3">
                        <div class="sm:grid grid-cols-3 gap-2">
                            <div class="relative mt-2">
                                <div>
                                    <label>Calle*</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="empresaModel.calle" [ngModelOptions]="{standalone: true}">
                                </div>

                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label>Num. Ext.*</label>
                                    <input type="text" class="input  w-full border mt-2" placeholder="" [(ngModel)]="empresaModel.noExt" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label>Num. Int.*</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="empresaModel.noInt" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>

                    <div class="mt-3">
                        <div class="sm:grid grid-cols-1 gap-2">
                            <div class="relative mt-2">
                                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                                    <h2 class="font-medium text-base mr-auto">
                                         Principal(es) Área(s) de Acción (solo 3 permitidas)*
                                    </h2>
                                </div>


                                <div class="well">
                                    <table style="padding: 15px; margin-left: 25px;">
                                        <tbody>
                                            <tr *ngFor="let area of areas">

                                                <td style="padding:5px;"> <input type="checkbox" (change)="toggleArea(($event.target.checked), area.id)" id="area-{{area.id}}" ></td>
                                                <td>{{area.areaAccion}}

                                               
                                                </td>
                                                <div *ngIf="area.id==13" >
                                                    <input type="text" class="input  w-full border mt-2 " id="areatext" [(ngModel)]="empresaModel.areaOtro" [ngModelOptions]="{standalone: true}"placeholder="" disabled>
                                                </div>

                                            </tr>

                                            
                                        </tbody>


                                    </table>
                                </div>

                            </div>
<!--                      
                            <div class="relative mt-2">

                                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                                    <h2 class="font-medium text-base mr-auto">
                                         Rubro*
                                    </h2>
                                </div>


                                <div class="well">
                                    <table style="padding: 15px; margin-left: 25px;">
                                        <tbody>
                                            <tr *ngFor="let rubro of rubros">

                                                <td style="padding:5px;"> <input type="checkbox" id="{{rubro.id}}" (change)="togleRubros($event.target.checked, rubro.id)"></td>
                                                <td>{{rubro.rubro}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div> -->
                        </div>
                    </div>




                    <br>

                    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                        <h2 class="font-medium text-base mr-auto">
                            Observaciones
                        </h2>
                    </div>

                    <textarea class="input  w-full border mt-2 " name="textarea" [(ngModel)]="empresaModel.observaciones" name="observaciones" rows="10"></textarea>

                </div>
                <br>
                    <div class="mt-3">
                        <div class="sm:grid grid-cols-2 gap-2">
                           
                            <div class="relative mt-2">
                                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                                    <h2 class="font-medium text-base mr-auto">
                                        7. Sucesos en el sistema
                                    </h2>
                                </div>

                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <label class="sm:w-32 sm:text-right sm:mr-5">Estado:</label>
                                    <select class="input input--sm border mr-2 sm:w-64" [(ngModel)]="empresaModel.idEstadoOrganizacion" [ngModelOptions]="{standalone: true}">
                      <option [ngValue]="gi.id" *ngFor="let gi of estado">{{gi.estado}}</option>
        
                    </select>
                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                                    <h2 class="font-medium text-base mr-auto">
                                        Número de personas que atienden
                                    </h2>
                                </div>



                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <input type="number" class="input border" placeholder="" [(ngModel)]="empresaModel.ancianos" [ngModelOptions]="{standalone: true}">

                                    <label class="sm:w-32 sm:text-right sm:mr-5">Personas de la tercera edad.</label>
                                </div>
                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <input type="number" class="input border" placeholder="" [(ngModel)]="empresaModel.discapacitados" [ngModelOptions]="{standalone: true}">

                                    <label class="sm:w-32 sm:text-right sm:mr-5">Personas con discapacidad. </label>
                                </div>
                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <input type="number" class="input border" placeholder="" [(ngModel)]="empresaModel.indigenas" [ngModelOptions]="{standalone: true}">

                                    <label class="sm:w-32 sm:text-right sm:mr-5">Indígenas.</label>
                                </div>
                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <input type="number" class="input border" placeholder="" [(ngModel)]="empresaModel.jovenes" [ngModelOptions]="{standalone: true}">

                                    <label class="sm:w-32 sm:text-right sm:mr-5">Jóvenes.</label>
                                </div>

                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <input type="number" class="input border" placeholder="" [(ngModel)]="empresaModel.mujeres" [ngModelOptions]="{standalone: true}">

                                    <label class="sm:w-32 sm:text-right sm:mr-5">Mujeres.</label>
                                </div>
                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <input type="number" class="input border" placeholder="" [(ngModel)]="empresaModel.ninos" [ngModelOptions]="{standalone: true}">

                                    <label class="sm:w-32 sm:text-right sm:mr-5">Niños.</label>
                                </div>
                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <input type="number" class="input border" placeholder="" [(ngModel)]="empresaModel.noAtiendeOtro" [ngModelOptions]="{standalone: true}">

                                    <label class="sm:w-32 sm:text-right sm:mr-5">Otros.</label>
                                    <div >
                                        <input type="text" class="input  w-full border mt-2 " [(ngModel)]="empresaModel.atiendeOtro" [ngModelOptions]="{standalone: true}" placeholder="" >
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="relative mt-2">

                                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                                    <h2 class="font-medium text-base mr-auto">
                                        8. Nodos de jerarquía institucional
                                    </h2>
                                </div>
                                <div class="well">
                                    <table style="padding: 15px; margin-left: 25px;">
                                        <tbody>
                                            <tr *ngFor="let uni of universidades">
                                                <td style="padding:5px;"> <input type="checkbox" id="uni{{uni.id}}" [(ngModel)]="empresaModel.idUniversidad" [ngModelOptions]="{standalone: true}" value="10"></td>
                                                <td>{{uni.universidad}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                                    <h2 class="font-medium text-base mr-auto">
                                        9. Sucesos en el sistema
                                    </h2>
                                </div>

                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <label class="sm:w-32 sm:text-right sm:mr-5">Estado:</label>
                                    <select class="input input--sm border mr-2 sm:w-64" [(ngModel)]="empresaModel.idEstadoOrganizacion" [ngModelOptions]="{standalone: true}">
                      <option [ngValue]="gi.id" *ngFor="let gi of estado">{{gi.estado}}</option>
        
                    </select>
                                </div>

                            </div> -->
                        </div>
                    </div>
                    <br>

<br>
<br>

<br>








            </div>

            <section class="p-5"  *ngIf="!cambio" >


                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                    <h2 class="font-medium text-base mr-auto">
                       Contacto
                    </h2>
                    <br>
                </div>

           

                <div class="mt-3">
                    <div class="sm:grid grid-cols-2 gap-2">
                        <div class="relative mt-2">
                            <div>
                                <label>Nombre del Titular o Director de la Institución*</label>
                                <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.nombreCompletoDirector" [ngModelOptions]="{standalone: true}">
                            </div>

                        </div>
                        <div class="relative mt-2">
                            <div>
                                <label>Nombre del Responsable de Servicio Social en la Institución:</label>
                                <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.nombreCompletoResponsable" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="mt-3">
                    <div class="sm:grid grid-cols-3 gap-2">
                    
                        <div class="relative mt-2">
                            <div>
                                <label>Departamento o Área:</label>
                                <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.departamento" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="relative mt-2">
                            <div>
                                <label>Puesto del Responsable de Servicio Social:</label>
                                <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.puesto" [ngModelOptions]="{standalone: true}">
                            </div>

                        </div>
                        <div class="relative mt-2">
                            <div>
                                <label>Número telefónico del Responsable de Servicio Social:</label>
                                <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.telefono" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="mt-3">
                    <div class="sm:grid grid-cols-2 gap-2">
                  
                        <div class="relative mt-2">
                            <div>
                                <label>Correo del Responsable de Servicio Social:</label>
                                <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.correo" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="relative mt-2">
                            <div>
                                <label>Contraseña del Responsable de Servicio Social:</label>
                                <input type="password" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.contrasena" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="mt-3" style="display: none;">
                    <div class="sm:grid grid-cols-2 gap-2">
                        <div class="relative mt-2">
                            <div>
                                <label>Usuario del Responsable de Servicio Social:</label>
                                <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.usuario" [ngModelOptions]="{standalone: true}">
                            </div>

                        </div>
                   

                    </div>
                </div>
                <br>
                <br>

                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                    <h2 class="font-medium text-base mr-auto">
                         Campo de inf. áreas internas
                    </h2>
                </div>
                <div class="mt-3">
                    <div class="sm:grid grid-cols-2 gap-2">
                        <div class="relative mt-2">
                            <div>
                                <label>Seleccionar Campus:</label>
                                <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.idUniversidad" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="ti.id" *ngFor="let ti of universidades">{{ti.universidad}} </option>
                
                
                </select>
                            </div>
                
                        </div>
                        <div class="relative mt-2">
                            <div>
                                <label>Seleccionar Vicerrectoría:</label>
                                <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.idVicerrectoria" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="ti.id" *ngFor="let ti of vicerectorias">{{ti.vicerrectoria}} </option>
                
                
                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <div class="sm:grid grid-cols-2 gap-2">
                       
                        <div class="relative mt-2">
                            <div>
                                <label>Seleccionar Dirección:</label>
                                <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.idDireccion" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="ti.id" *ngFor="let ti of escueladirecciones">{{ti.direccion}} </option>
                
                
                </select>
                            </div>
                        </div>
                        <div class="relative mt-2">
                            <div>
                                <label>Seleccionar Área/Coordinación:</label>
                                <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.idCordinacion" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="ti.id" *ngFor="let ti of cordinaciones">{{ti.cordinacion}} </option>
                
                
                </select>
                            </div>
                
                        </div>
                    </div>
                </div>
                <br>
                
                
                <div class="mt-3">
                    <div class="sm:grid grid-cols-2 gap-2">
  
                        <div class="relative mt-2">
                            <div>
                                <label>Descripción introductoria del área:</label>
                                <textarea type="text" class="input  w-full border mt-2 " rows="5" placeholder="Máximo 500 caracteres" [(ngModel)]="empresaModel.descripcionArea" [ngModelOptions]="{standalone: true}" required></textarea>

                
                            </div>
                        </div>
                        <div class="relative mt-2">
                            <div>
                                <label>Principales Objetivos:</label>
                                <textarea type="text" class="input  w-full border mt-2 " rows="5" placeholder="Enlistarlos en orden de prioridad / Máximo 7" [(ngModel)]="empresaModel.objetivo" [ngModelOptions]="{standalone: true}" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>

                <div class="mt-3">
                    <div class="sm:grid grid-cols-1 gap-2">
                     
                        <div class="relative mt-2">
                            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                                <h2 class="font-medium text-base mr-auto">
                                     Principal(es) Área(s) de Acción (solo 3 permitidas)
                                </h2>
                            </div>


                            <div class="well">
                                <table style="padding: 15px; margin-left: 25px;">
                                    <tbody>
                                        <tr *ngFor="let area of areas">

                                            <td style="padding:5px;"> <input type="checkbox" (change)="toggleArea(($event.target.checked), area.id)" id="area-{{area.id}}" ></td>
                                            <td>{{area.areaAccion}}  
                                           
                                
                                            </td>
                                            <div *ngIf="area.id==13" >
                                                <input type="text" class="input  w-full border mt-2 " id="areatext" [(ngModel)]="empresaModel.areaOtro" [ngModelOptions]="{standalone: true}"placeholder="" disabled>
                                            </div>
                                        </tr>
                                    </tbody>
                               
                                </table>
                            
                            </div>

                        </div>
                 
                 
                    </div>
                </div>

                </section>
        </div>
    </form>
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
        </h2>
        <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
            <a routerLink="/empresas" class="button text-black bg-theme-2 shadow-md mr-2">Cancelar</a>
            <button (click)="create()" class="button text-white bg-theme-1 shadow-md mr-2">Guardar</button>
        </div>
    </div>

    <!-- END: FORM -->
</div>
<!-- END: Content -->
