<app-menu></app-menu>


<div class="container" style="font-family:Helvetica;">
    <div class="modal" id="solo3">
        <div class="modal__content">
            <div class="p-5 text-center"> <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
                <div class="text-3xl mt-5">Advertencia!</div>
                <div class="text-gray-600 mt-2">Solo se permite las 3 primeras areas seleccionadas!</div>
            </div>
            <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
        </div>
    </div>

    <div class="modal" id="success-modal-preview">
        <div class="modal__content">
            <div class="p-5 text-center"> <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
                <div class="text-3xl mt-5">Muy bien!</div>
                <div class="text-gray-600 mt-2">Has agregado una empresa!</div>
            </div>
            <a (click)="recargar();">
                <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
            </a>
        </div>
    </div>
    <div class="modal" id="validacion">
        <div class="modal__content">
            <div class="p-5 text-center"> <i data-feather="x-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
                <div class="text-gray-600 mt-2">{{mensajevalidacion}}</div>
            </div>
            <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
        </div>
    </div>
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            Agregar Empresa
        </h2>

    </div>

    <form (ngSubmit)="create()" #form="ngForm">

        <!-- BEGIN: FORM  p-5 mt-5 w-full -->

        <div class="intro-y  mt-5">


            <div class="mt-3 p-5">
                <div class="sm:grid grid-cols-1 gap-2">
                    <div class="relative mt-2">
                   
                        

                        <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
                            <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
                                Empresa Externa         </h2>
                          </div>
                        <div class="p-5">

                            <div class="flex flex-col sm:flex-row items-center mt-3">
                                <label style="font-size:19px; color:#FF8800; font-weight: bold;" class="sm:w-32 sm:text-right sm:mr-5">¿Empresa externa? </label>
                                <select class="input input--sm border mr-2 sm:w-64" [(ngModel)]="responsablemodel.externa" [ngModelOptions]="{standalone: true}" (ngModelChange)="externa()">
<option [ngValue]="true">Si </option>

<option [ngValue]="false">No </option>

</select>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="" id="horizontal-form" *ngIf="cambio">
             
                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
                    <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
                        Información General            </h2>
                  </div>

                <div class="p-5">


                    <div class="flex flex-1 px-5 items-center justify-center lg:justify-start">
                        <div class="w-0 h-20 sm:w-24 sm:h-24 flex-none lg:w-72 lg:h-50 image-fit relative">
                            <img alt="Midone Tailwind HTML Admin Template" id="blah" src="{{logo}}">*
                        </div>
                        <div class="ml-5 button text-white shadow-md mr-5" style="background-color: #FF8300;">
                            <a (click)="abrirsubir()">
                      Cambiar imagen (Ingrese aquí el Logo de la institución)
                    </a>
                        </div>

                    </div>
                    <p>

                        *La resolución de la imagen debe ser de 1280 x 720.
                    </p>
                    <br>

                    <div class="preview">
                        <div class="mt-3">
                            <div class="sm:grid grid-cols-2 gap-2">
                                <div class="relative mt-2">
                                    <div>
                                        <label style="font-size:19px; color:#FF8800; font-weight: bold;">Nombre Oficial de la Institución (denominación o razón social)*</label>
                                        <input type="text" class="input  w-full border mt-2 " placeholder="Como aparece en el Acta Constitutiva" id="organizacion" [(ngModel)]="empresaModel.organizacion" [ngModelOptions]="{standalone: true}" required>
                                        <div class="valid-feedback" id="feedback1">
                                            Es necesario ingresar tu nombre completo.
                                        </div>
                                    </div>

                                </div>
                                <div class="relative mt-2">
                                    <div>
                                        <label style="font-size:19px; color:#FF8800; font-weight: bold;">Nombre Común de la Institución (nombre comercial)*</label>
                                        <input type="text" class="input  w-full border mt-2 " placeholder="Escribir el nombre con el que es comúnmente conocida la Institución" id="nombreComun" [(ngModel)]="empresaModel.nombreComun" [ngModelOptions]="{standalone: true}" required>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br>
                        <div class="mt-3">
                            <div class="sm:grid grid-cols-1 gap-2">
                                <div class="relative mt-2">
                                    <div>
                                        <label style="font-size:19px; color:#FF8800; font-weight: bold;">Descripción introductoria de la Institución (Objeto o Finalidad de la Institución)*</label>
                                        <textarea type="text" maxlength="500" class="input  w-full border mt-2 " rows="3" placeholder="Máximo 500 caracteres" [(ngModel)]="empresaModel.descripcion" id="descripcion" [ngModelOptions]="{standalone: true}" required></textarea>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <br>

                        <div class="mt-3">
                            <div class="sm:grid grid-cols-2 gap-2">

                                <div class="relative mt-2">
                                    <div>
                                        <label style="font-size:19px; color:#FF8800; font-weight: bold;">Años de Antigüedad de la Institución*</label>
                                        <input type="number" ng-value="0" class="input  w-full border mt-2 " rows="3" placeholder="¿Cuántos años lleva en pie la organización desde su fundación?" id="antiguedad" [(ngModel)]="empresaModel.antiguedad" [ngModelOptions]="{standalone: true}" required>
                                    </div>

                                </div>
                                <div class="relative mt-2">
                                    <div>
                                        <label style="font-size:19px; color:#FF8800; font-weight: bold;">¿Cuál es la razón de ser de la Institución?*</label>
                                        <textarea type="text" maxlength='500' class="input  w-full border mt-2 " rows="5" placeholder="Responda en función al principal propósito de la Institución | Máximo 500 caracteres" id="razon" [(ngModel)]="empresaModel.razon" [ngModelOptions]="{standalone: true}"
                                            required></textarea>

                                    </div>

                                </div>


                            </div>
                        </div>
                        <br>
                        <div class="mt-3">
                            <div class="sm:grid grid-cols-2 gap-2">
                                <div class="relative mt-2">
                                    <div>
                                        <label style="font-size:19px; color:#FF8800; font-weight: bold;">Visión*</label>
                                        <textarea type="text" maxlength='500' class="input  w-full border mt-2 " rows="5" placeholder="Máximo 500 caracteres" [(ngModel)]="empresaModel.vision" id="vision" [ngModelOptions]="{standalone: true}" required></textarea>
                                    </div>
                                </div>
                                <div class="relative mt-2">
                                    <div>
                                        <label style="font-size:19px; color:#FF8800; font-weight: bold;">Misión*</label>
                                        <textarea type="text" maxlength='500' class="input  w-full border mt-2 " rows="5" placeholder="Máximo 500 caracteres" [(ngModel)]="empresaModel.mision" id="mision" [ngModelOptions]="{standalone: true}" required></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <br>

                        <div class="mt-3">
                            <div class="sm:grid grid-cols-3 gap-2">


                                <div class="relative mt-2">
                                    <div>
                                        <label style="font-size:19px; color:#FF8800; font-weight: bold;">Principales Objetivos*</label>
                                        <textarea type="text" class="input  w-full border mt-2 " rows="5" maxlength="500" placeholder="Enlistarlos en orden de prioridad / Máximo 7" [(ngModel)]="empresaModel.objetivo" id="objetivo" [ngModelOptions]="{standalone: true}" required></textarea>
                                    </div>
                                </div>

                                <div class="relative mt-2">
                                    <div>

                                        <div>
                                            <label style="font-size:19px; color:#FF8800; font-weight: bold;">Enumere los Principales Logros de la Institución* </label>
                                            <textarea type="text" class="input  w-full border mt-2 " maxlength="500" rows="5" placeholder="Enlista máximo 7" [(ngModel)]="empresaModel.logros" id="logros" [ngModelOptions]="{standalone: true}" required></textarea>

                                        </div>

                                    </div>
                                </div>

                                <div class="relative mt-2">
                                    <div>
                                        <label style="font-size:19px; color:#FF8800; font-weight: bold;">Enumere los Reconocimientos y Certificaciones con los que cuenta la Institución*</label>
                                        <textarea type="text" maxlength="500" class="input  w-full border mt-2 " rows="5" placeholder="Enlista máximo 7" [(ngModel)]="empresaModel.reconocimiento" id="reconocimiento" [ngModelOptions]="{standalone: true}" required></textarea>

                                    </div>

                                </div>


                            </div>
                        </div>



                        <br>


                        <div class="mt-3">
                            <div class="sm:grid grid-cols-2 gap-2">
                                <div class="relative mt-2">
                                    <div>
                                        <label style="font-size:19px; color:#FF8800; font-weight: bold;">Tipo de Organización*</label>
                                        <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.idTipoOrganizacion" id="idTipoOrganizacion" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="ti.id" *ngFor="let ti of tipo">{{ti.tipo}} </option>


              </select>
                                    </div>
                                </div>
                                <div class="relative mt-2">
                                    <div>
                                        <label style="font-size:19px; color:#FF8800; font-weight: bold;">¿La Institución pertenece al movimiento Regnum Christi?*</label>
                                        <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.legionario" id="legionario" [ngModelOptions]="{standalone: true}">
                                    <option [ngValue]="true">Si </option>

                                    <option [ngValue]="false">No </option>
                                                                    </select> </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <br>


           

                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
                    <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
                        Redes sociales         </h2>
                  </div>
                <div class="p-5">
                    <div class="mt-3">
                        <div class="sm:grid grid-cols-2 gap-2">
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Página Web*</label>
                                    <input type="text" value="https://" class="input  w-full border mt-2 " placeholder="" id="web" [(ngModel)]="empresaModel.web" [ngModelOptions]="{standalone: true}" required>
                                    <div style="margin-top:3px;">

                                        Pega el link la Institución ej: (https://www.anahuac.mx/)

                                    </div>

                                </div>
                            </div>

                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Facebook*</label>
                                    <input type="text" value="https://" class="input  w-full border mt-2 " id="facebook" placeholder="Link del perfil de la Institución/ ejemplo: https://adam.anahuac.mx/serviciosocial" [(ngModel)]="empresaModel.facebook" [ngModelOptions]="{standalone: true}"
                                        required>

                                    <div style="margin-top:3px;">

                                        Pega el link la Institución ej: (https://www.facebook.com)

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <br>
                    <div class="mt-3">

                        <div class="sm:grid grid-cols-3 gap-2">
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Instagram</label>
                                    <input type="text" value="https://" class="input  w-full border mt-2 " placeholder="Link del perfil de la Institución/ ejemplo: https://adam.anahuac.mx/serviciosocial" [(ngModel)]="empresaModel.instagram" [ngModelOptions]="{standalone: true}" required>


                                    <div style="margin-top:3px;">

                                        Pega el link la Institución ej: (https://www.instagram.com)

                                    </div>
                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">YouTube</label>
                                    <input type="text" value="https://" class="input  w-full border mt-2 " placeholder="Link del perfil de la Institución/ ejemplo: https://adam.anahuac.mx/serviciosocial" [(ngModel)]="empresaModel.youtube" [ngModelOptions]="{standalone: true}" required>


                                    <div style="margin-top:3px;">

                                        Pega el link la Institución ej: (https://www.youtube.com)

                                    </div>
                                </div>
                            </div>

                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Tik Tok</label>

                                    <input type="text" value="https://" class="input  w-full border mt-2 " placeholder="Link del perfil de la Institución/ ejemplo: https://adam.anahuac.mx/serviciosocial" [(ngModel)]="empresaModel.tiktok" [ngModelOptions]="{standalone: true}" required>

                                    <div style="margin-top:3px;">

                                        Pega el link la Institución ej: (https://www.tiktok.com)

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <br>
                </div>


                <br>


                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
                    <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
                        Contacto         </h2>
                  </div>
          
                <div class="p-5">
                    <div class="mt-3">
                        <div class="sm:grid grid-cols-2 gap-2">
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Nombre del Titular o Director de la Institución*</label>
                                    <input type="text" class="input  w-full border mt-2 " id="nombreCompletoDirector" placeholder="" [(ngModel)]="responsablemodel.nombreCompletoDirector" [ngModelOptions]="{standalone: true}">
                                </div>

                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Nombre del Responsable de Servicio Social en la Institución*</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" id="nombreCompletoResponsable" [(ngModel)]="responsablemodel.nombreCompletoResponsable" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="mt-3">
                        <div class="sm:grid grid-cols-4 gap-2">

                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Departamento o Área:</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" id="departamento" [(ngModel)]="responsablemodel.departamento" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Puesto del Responsable :</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" id="puesto" [(ngModel)]="responsablemodel.puesto" [ngModelOptions]="{standalone: true}">
                                </div>

                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Número telefónico del Responsable :</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" id="telefono" [(ngModel)]="responsablemodel.telefono" [ngModelOptions]="{standalone: true}">
                                </div>

                            </div>

                            <div class="relative mt-2">

                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Extensión:</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" id="extension" [(ngModel)]="responsablemodel.extension" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="mt-3">
                        <div class="sm:grid grid-cols-2 gap-2">

                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Correo del Responsable*</label>
                                    <input type="text" class="input  w-full border mt-2 " id="correo" type="email" placeholder="" [(ngModel)]="responsablemodel.correo" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Contraseña del Responsable*</label>
                                    <input type="password" class="input  w-full border mt-2 " id="contrasena" placeholder="" [(ngModel)]="responsablemodel.contrasena" [ngModelOptions]="{standalone: true}">
                                    <!-- checkque nos permite activar o desactivar la opcion -->
                                    <div style="margin-top:3px;">
                                        <input style="margin-left:20px;" type="checkbox" id="mostrar_contrasena" title="clic para mostrar contraseña" (change)="mostrarpass()" /> &nbsp;&nbsp;Mostrar Contraseña</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>

                <br>
                <br>





               

                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
                    <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
                      Domicilio     </h2>
                  </div>

                <div class="p-5">
                    <div class="mt-3">
                        <div class="sm:grid grid-cols-3 gap-2">
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">CP*</label>
                                    <div class="sm:grid grid-cols-2 gap-2">
                                        <div class="relative mt-2">

                                            <input type="text" class="input  w-full border mt-2 " id="cp" minlength="5" maxlength="5" placeholder="" placeholder="" [(ngModel)]="empresaModel.cp" [ngModelOptions]="{standalone: true}">
                                        </div>

                                        <div class="relative mt-3">

                                            <button type="button" (click)="obtenerdireccion()" data-dismiss="modal" class="button w-24 text-white" style="background-color: #FF8300;">Buscar CP</button>

                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">País*</label>

                                    <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.pais" id="pais" [ngModelOptions]="{standalone: true}">
                            <option  *ngFor="let pais of listapais" [ngValue]="pais" >{{pais}} </option>
                            
                            
                            </select>

                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Estado*</label>

                                    <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.estado" id="estado" [ngModelOptions]="{standalone: true}">
                                            <option *ngFor="let estado of listaestados" [ngValue]="estado" >{{estado}} </option>
                                        </select>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>


                    <div class="mt-3">
                        <div class="sm:grid grid-cols-3 gap-2">
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Alcaldía/Municipio*</label>
                                    <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.municipio" id="municipio" [ngModelOptions]="{standalone: true}">
                                            <option *ngFor="let municipio of listamunicipios" [ngValue]="municipio" >{{municipio}} </option>
                                        </select> </div>

                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Ciudad*</label>
                                    <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.ciudad" id="ciudad" [ngModelOptions]="{standalone: true}">
                                            <option  *ngFor="let ciudad of listaciudad" [ngValue]="ciudad" >{{ciudad}} </option>
                                        </select> </div>
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Colonia*</label>
                                    <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.colonia" id="colonia" [ngModelOptions]="{standalone: true}">
                                            <option *ngFor="let colonia of listacolonias" [ngValue]="colonia" >{{colonia}} </option>
                                        </select> </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="mt-3">
                        <div class="sm:grid grid-cols-3 gap-2">
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Calle*</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" id="calle" [(ngModel)]="empresaModel.calle" [ngModelOptions]="{standalone: true}">
                                </div>

                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Num. Ext.*</label>
                                    <input type="text" class="input  w-full border mt-2" placeholder="" id="noExt" [(ngModel)]="empresaModel.noExt" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Num. Int.*</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" id="noInt" [(ngModel)]="empresaModel.noInt" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                </div>
                <br>
                <br>

                <div class="mt-3">
                    <div class="sm:grid grid-cols-1 gap-2">
                        <div class="relative mt-2">
                         

                            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
                                <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
                                    Principal(es) Área(s) de Acción (solo 3 permitidas)*          </h2>
                              </div>

                            <div class="p-5">

                                <div class="relative mt-8">


                                    <div class="well">
                                        <table style="font-size:19px; color:#FF8800; font-weight: bold;">
                                            <tbody>
                                                <tr *ngFor="let area of areas">

                                                    <td style="padding:5px;"> <input type="checkbox" (change)="toggleArea(($event.target.checked), area.id)" id="area-{{area.id}}"></td>
                                                    <td>{{area.areaAccion}}


                                                    </td>
                                                    <div *ngIf="area.id==13">
                                                        <input type="text" class="input  w-full border mt-2 " id="areatext" [(ngModel)]="empresaModel.areaOtro" [ngModelOptions]="{standalone: true}" placeholder="" disabled>
                                                    </div>

                                                </tr>


                                            </tbody>


                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>




                <br>

           
                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
                    <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
                        Observaciones          </h2>
                  </div>
                <div class="p-5">

                    <textarea class="input  w-full border mt-2 " maxlength="500" name="textarea" [(ngModel)]="empresaModel.observaciones" name="observaciones" rows="10"></textarea>
                </div>

                <br>
                <div class="mt-3">
                    <div class="sm:grid grid-cols-2 gap-2">

                        <div class="relative mt-2">
                           
                            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
                                <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
                                    Sucesos en el sistema          </h2>
                              </div>
                              
                              <div class="p-5">

                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;" class="sm:w-32 sm:text-right sm:mr-5">Estado:</label>
                                    <select class="input input--sm border mr-2 sm:w-64" [(ngModel)]="empresaModel.idEstadoOrganizacion" [ngModelOptions]="{standalone: true}">
                      <option [ngValue]="gi.id" *ngFor="let gi of estado">{{gi.estado}}</option>
        
                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="relative mt-2">
                         

                            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
                                <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
                                    Estadísticas de Impacto
                                </h2>
                              </div>

                            <div class="p-5">


                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <input type="number" class="input border" placeholder="" [(ngModel)]="empresaModel.ancianos" [ngModelOptions]="{standalone: true}">

                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;" class="sm:w-32 sm:text-right sm:mr-5">Personas de la tercera edad.</label>
                                </div>
                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <input type="number" class="input border" placeholder="" [(ngModel)]="empresaModel.discapacitados" [ngModelOptions]="{standalone: true}">

                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;" class="sm:w-32 sm:text-right sm:mr-5">Personas con discapacidad. </label>
                                </div>
                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <input type="number" class="input border" placeholder="" [(ngModel)]="empresaModel.indigenas" [ngModelOptions]="{standalone: true}">

                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;" class="sm:w-32 sm:text-right sm:mr-5">Personas de población indígena.</label>
                                </div>
                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <input type="number" class="input border" placeholder="" [(ngModel)]="empresaModel.jovenes" [ngModelOptions]="{standalone: true}">

                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;" class="sm:w-32 sm:text-right sm:mr-5">Jóvenes.</label>
                                </div>

                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <input type="number" class="input border" placeholder="" [(ngModel)]="empresaModel.mujeres" [ngModelOptions]="{standalone: true}">

                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;" class="sm:w-32 sm:text-right sm:mr-5">Mujeres.</label>
                                </div>
                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <input type="number" class="input border" placeholder="" [(ngModel)]="empresaModel.ninos" [ngModelOptions]="{standalone: true}">

                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;" class="sm:w-32 sm:text-right sm:mr-5">Niños.</label>
                                </div>
                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <input type="number" class="input border" placeholder="" [(ngModel)]="empresaModel.noAtiendeOtro" [ngModelOptions]="{standalone: true}">

                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;" class="sm:w-32 sm:text-right sm:mr-5">Otros.</label>
                                    <div>
                                        <input type="text" class="input  w-full border mt-2 " [(ngModel)]="empresaModel.atiendeOtro" [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="relative mt-2">

                                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                                    <h2 class="font-medium text-base mr-auto">
                                        8. Nodos de jerarquía institucional
                                    </h2>
                                </div>
                                <div class="well">
                                    <table style="padding: 15px; margin-left: 25px;">
                                        <tbody>
                                            <tr *ngFor="let uni of universidades">
                                                <td style="padding:5px;"> <input type="checkbox" id="uni{{uni.id}}" [(ngModel)]="empresaModel.idUniversidad" [ngModelOptions]="{standalone: true}" value="10"></td>
                                                <td>{{uni.universidad}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
                                    <h2 class="font-medium text-base mr-auto">
                                        9. Sucesos en el sistema
                                    </h2>
                                </div>

                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;" class="sm:w-32 sm:text-right sm:mr-5">Estado:</label>
                                    <select class="input input--sm border mr-2 sm:w-64" [(ngModel)]="empresaModel.idEstadoOrganizacion" [ngModelOptions]="{standalone: true}">
                      <option [ngValue]="gi.id" *ngFor="let gi of estado">{{gi.estado}}</option>
        
                    </select>
                                </div>

                            </div> -->
                        </div>
                    </div>
                    <br>

                    <br>
                    <br>

                    <br>








                </div>
            </div>

            <section class="p-5" *ngIf="!cambio">


        
                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
                    <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
                     Contacto           </h2>
                  </div>
                <div class="p-5">

                    <div class="mt-3">
                        <div class="sm:grid grid-cols-2 gap-2">
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Nombre del director del Área*</label>
                                    <input type="text" class="input  w-full border mt-2 " id="nombreCompletoDirector" placeholder="" [(ngModel)]="responsablemodel.nombreCompletoDirector" [ngModelOptions]="{standalone: true}">
                                </div>

                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Nombre del Responsable de Servicio Social del Área:</label>
                                    <input type="text" class="input  w-full border mt-2 " id="nombreCompletoResponsable" placeholder="" [(ngModel)]="responsablemodel.nombreCompletoResponsable" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="mt-3">
                        <div class="sm:grid grid-cols-3 gap-2">

                            <div class="relative mt-2" style="display: none;">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Departamento o Área:</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.departamento" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Puesto del Responsable :</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.puesto" [ngModelOptions]="{standalone: true}">
                                </div>

                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Número telefónico del Responsable:</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.telefono" [ngModelOptions]="{standalone: true}">
                                </div>

                            </div>

                            <div class="relative mt-2">

                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Extensión:</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.extension" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="mt-3">
                        <div class="sm:grid grid-cols-2 gap-2">

                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Correo del Responsable *</label>
                                    <input type="text" class="input  w-full border mt-2 " id="correo" type="email" placeholder="" [(ngModel)]="responsablemodel.correo" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Contraseña del Responsable*</label>
                                    <input type="password" class="input  w-full border mt-2 " id="contrasena" placeholder="" [(ngModel)]="responsablemodel.contrasena" [ngModelOptions]="{standalone: true}">
                                    <!-- checkque nos permite activar o desactivar la opcion -->
                                    <div style="margin-top:3px;">
                                        <input style="margin-left:20px;" type="checkbox" id="mostrar_contrasena" title="clic para mostrar contraseña" (change)="mostrarpass()" /> &nbsp;&nbsp;Mostrar Contraseña</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="mt-3" style="display: none;">
                        <div class="sm:grid grid-cols-2 gap-2">
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Usuario del Responsable *</label>
                                    <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="responsablemodel.usuario" [ngModelOptions]="{standalone: true}">
                                </div>

                            </div>


                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <br>



       
                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
                    <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
                        Campo de inf. áreas internas          </h2>
                  </div>
                <div class="p-5">

                    <div class="mt-3">
                        <div class="sm:grid grid-cols-3 gap-2">
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Seleccionar Campus*</label>
                                    <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.idUniversidad" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="ti.id" *ngFor="let ti of universidades">{{ti.universidad}} </option>
                
                
                </select>
                                </div>

                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Seleccionar Vicerrectoría*</label>
                                    <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.idVicerrectoria" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="ti.id" *ngFor="let ti of vicerectorias">{{ti.vicerrectoria}} </option>
                
                
                </select>
                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Seleccionar Área/Coordinación*</label>
                                    <select class="input  w-full border mt-2 " [(ngModel)]="empresaModel.idCordinacion" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="ti.id" *ngFor="let ti of cordinaciones">{{ti.cordinacion}} </option>
                
                
                </select>
                                </div>

                            </div>
                        </div>
                    </div>

                    <br>


                    <div class="mt-3">
                        <div class="sm:grid grid-cols-2 gap-2">

                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Descripción introductoria del área*</label>
                                    <textarea type="text" maxlength="500" class="input  w-full border mt-2 " rows="5" placeholder="Máximo 500 caracteres" id="descripcionArea" [(ngModel)]="empresaModel.descripcionArea" [ngModelOptions]="{standalone: true}" required></textarea>


                                </div>
                            </div>
                            <div class="relative mt-2">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Principales Objetivos*</label>
                                    <textarea type="text" maxlength="500" class="input  w-full border mt-2 " rows="5" placeholder="Enlistarlos en orden de prioridad / Máximo 7" id="objetivo" [(ngModel)]="empresaModel.objetivo" [ngModelOptions]="{standalone: true}" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>

                <br>
                <div class="mt-3">
                    <div class="sm:grid grid-cols-1 gap-2">
                        <div class="relative mt-2">
                        
                         
                            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
                                <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
                                    Principal(es) Área(s) de Acción (solo 3 permitidas)*          </h2>
                              </div>

                            <div class="p-5">

                                <div class="well">
                                    <table style="font-size:19px; color:#FF8800; font-weight: bold;">
                                        <tbody>
                                            <tr *ngFor="let area of areas">

                                                <td style="padding:5px;"> <input type="checkbox" (change)="toggleArea(($event.target.checked), area.id)" id="area-{{area.id}}"></td>
                                                <td>{{area.areaAccion}}


                                                </td>
                                                <div *ngIf="area.id==13">
                                                    <input type="text" class="input  w-full border mt-2 " id="areatext" [(ngModel)]="empresaModel.areaOtro" [ngModelOptions]="{standalone: true}" placeholder="" disabled>
                                                </div>
                                            </tr>
                                        </tbody>

                                    </table>

                                </div>
                            </div>
                        </div>

                        <div class="relative mt-2">
                        
                           
                              <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
                                <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
                                    Sucesos en el sistema*            </h2>
                              </div>
                            <div class="p-5">

                                <div class="flex flex-col sm:flex-row items-center mt-3">
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;" class="sm:w-32 sm:text-right sm:mr-5">Estado:</label>
                                    <select class="input input--sm border mr-2 sm:w-64" [(ngModel)]="empresaModel.idEstadoOrganizacion" [ngModelOptions]="{standalone: true}">
                          <option [ngValue]="gi.id" *ngFor="let gi of estado">{{gi.estado}}</option>
            
                        </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </section>
        </div>

    </form>
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
        </h2>
        <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
            <a routerLink="/empresas" class="button text-black bg-theme-2 shadow-md mr-2">Cancelar</a>
            <button (click)="create()" class="button text-white  shadow-md mr-2" style="background-color: #FF8300;">Guardar</button>
        </div>
    </div>
    <br><br>
    <!-- END: FORM -->
</div>
<!-- END: Content -->