<app-menu>
</app-menu>

<!-- BEGIN: Content -->
<div class="content">
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            Administración
        </h2>
        <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
            <button class="button text-white bg-theme-1 shadow-md mr-2">Agregar Alumno</button>
            <div class="dropdown relative ml-auto sm:ml-0">
                <button class="dropdown-toggle button px-2 box text-gray-700 dark:text-gray-300">
                    <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4" data-feather="plus"></i> </span>
                </button>
                <div class="dropdown-box mt-10 absolute w-40 top-0 right-0 z-20">
                    <div class="dropdown-box__content box dark:bg-dark-1 p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="file-plus" class="w-4 h-4 mr-2"></i> New Category </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="users" class="w-4 h-4 mr-2"></i> New Group </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- BEGIN: Datatable -->
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th class="border-b-2 whitespace-no-wrap">NOMBRE COMPLETO</th>
                    <th class="border-b-2 text-center whitespace-no-wrap">MATRICULA</th>
                    <th class="border-b-2 text-center whitespace-no-wrap">UNIVERSIDAD</th>
                    <th class="border-b-2 text-center whitespace-no-wrap">FACULTAD</th>
                    <th class="border-b-2 text-center whitespace-no-wrap">STATUS</th>
                    <th class="border-b-2 text-center whitespace-no-wrap">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td class="border-b">
                        <a href="#">
                            <div class="font-medium whitespace-no-wrap">Jose Carlos Ruiz García</div>
                            <div class="text-gray-600 text-xs whitespace-no-wrap">Admón. Turística 1995 UAX</div>
                        </a>
                    </td>
                    <td class="border-b">
                        <div class="font-medium flex sm:justify-center items-center">00263783</div>
                    </td>
                    <td class="text-center border-b">UAMN</td>
                    <td class="text-center border-b">Ingeniería</td>
                    <td class="w-40 border-b">
                        <div class="rounded-md text-center px-1 py-1 mb-2 bg-theme-12 text-white"> INCONCLUSO </div>
                    </td>
                    <td class="border-b w-5">
                        <div class="flex sm:justify-center items-center">
                            <a class="flex items-center mr-3" href=""> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Editar </a>
                            <a class="flex items-center text-theme-6" href=""> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Eliminar </a>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- END: Datatable -->
</div>
<!-- END: Content -->