
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="mobile-menu md:hidden">
    <div class="mobile-menu-bar">
        <a [routerLink]="['/dashboard']" class="flex mr-auto ">
            <img src="https://adam.anahuac.mx/serviciosocial/images/logo-dark.png" width="200" height="60" alt="">
        </a>
        <a (click)="ocultar()" id="mobile-menu-toggler" style="color: #FF8800;"> <i data-feather="bar-chart-2" class="w-8 h-8  transform -rotate-90"></i> </a>
    </div>
    <ul id="menu" style="display: none;">

        <li class="pt-5 ">
            <a class="text-black p-5 " style="font-size: 20px; font-family:Helvetica; ">
                <a class=" pt-6 " [routerLink]="['/dashboard']">Dashboard <span class="sr-only ">(current)</span></a>
            </a>
        </li>
        <li class="pt-5 ">
            <a class="text-black p-5 " style="font-size: 20px; font-family:Helvetica; ">
                <a class=" pt-6 " [routerLink]="['/reportes']">Reportes <span class="sr-only "></span></a>
            </a>
        </li>
        <li class="pt-5 ">
            <a class="text-black p-5 " style="font-size: 20px; font-family:Helvetica; ">
                <a class=" pt-6 " [routerLink]=" '/alumnos' ">Alumnos</a>
            </a>
        </li>
        <li class="pt-5 ">
            <a class="text-black p-5 " style="font-size: 20px; font-family:Helvetica; ">
                <a class=" pt-6 "  routerLink="/empresas">Instituciones / Áreas</a>
            </a>
        </li>
        <li class="pt-5 ">
            <a class="text-black p-5 " style="font-size: 20px; font-family:Helvetica; ">
                <a class=" pt-6 " routerLink="/proyectos">Proyectos <span class="sr-only ">(current)</span></a>
            </a>
        </li>
        <li class="pt-5 ">
            <a class="text-black p-5 " style="font-size: 20px; font-family:Helvetica; ">
                <a class=" pt-6 " routerLink="/convocatorias">Convocatorías</a>
            </a>
        </li>
        <li class="pt-5 ">
            <a class="text-black p-5 " style="font-size: 20px; font-family:Helvetica; ">
                <a class=" pt-6 " routerLink="/usuarios">Administración</a>
            </a>
        </li>
    </ul>
    <br>
</div>

<nav class="top-nav  shadow-lg navbar-expand-md navbar-light fixed-top bg-white " style="top:0;left: 0;  width: 100%;
position: fixed;
">
    <ul>

 

        <li>
            <a [routerLink]="['/dashboard']">

                <img src="https://adam.anahuac.mx/serviciosocial/images/logo-dark.png " class="mt-3 mb-3" width="200 " style="margin-left: 100px;" height="60 " alt=" ">
            </a>
        </li>
        <li class="pt-5 ">
            <a class="text-black p-5 " style="font-size: 20px; font-family:Helvetica; ">
                <a class=" pt-6 " [routerLink]="['/dashboard']">Dashboard <span class="sr-only ">(current)</span></a>
            </a>
        </li>
        <li class="pt-5 ">
            <a class="text-black p-5 " style="font-size: 20px; font-family:Helvetica; ">
                <a class=" pt-6 " [routerLink]="['/reportes']">Reportes <span class="sr-only "></span></a>
            </a>
        </li>
        <li class="pt-5 ">
            <a class="text-black p-5 " style="font-size: 20px; font-family:Helvetica; ">
                <a class=" pt-6 " [routerLink]=" '/alumnos' ">Alumnos</a>
            </a>
        </li>
        <li class="pt-5 ">
            <a class="text-black p-5 " style="font-size: 20px; font-family:Helvetica; ">
                <a class=" pt-6 "  routerLink="/empresas">Instituciones / Áreas</a>
            </a>
        </li>
        <li class="pt-5 ">
            <a class="text-black p-5 " style="font-size: 20px; font-family:Helvetica; ">
                <a class=" pt-6 " routerLink="/proyectos">Proyectos <span class="sr-only ">(current)</span></a>
            </a>
        </li>
        <li class="pt-5 ">
            <a class="text-black p-5 " style="font-size: 20px; font-family:Helvetica; ">
                <a class=" pt-6 " routerLink="/convocatorias">Convocatorías</a>
            </a>
        </li>
        <li class="pt-5 ">
            <a class="text-black p-5 " style="font-size: 20px; font-family:Helvetica; ">
                <a class=" pt-6 " routerLink="/usuarios">Administración</a>
            </a>
        </li>
        <div class="intro-x dropdown w-8 h-8 relative ml-auto mt-3">
            <div class="dropdown-toggle image-fit zoom-in scale-110">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
            </div>
            <div class="dropdown-box mt-10 absolute w-64 top-0 right-0 " style="background: #FF8800;">
                <div class="dropdown-box__content box  text-white" style="background: #FF8800;">
                    <div class="p-4 border-b border-white dark:border-dark-3">
                        <div class="font-medium">{{nombre}}</div>
                    </div>
                    <div class="p-2">
                        <a class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md"> <i data-feather="user" class="w-4 h-4 mr-2"></i> Perfil </a>
                    </div>
                    <div class="p-2 border-t border-white dark:border-dark-3">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out hover:-bgtheme-1 dark:hover:bg-dark-3 rounded-md"> <i data-feather="toggle-right" class="w-4 h-4 mr-2"></i> Salir </a>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</nav>
