<app-menu></app-menu>
<br>
<br>
<br>

<div class="container" style="font-family:Helvetica;">
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8 p-5 border-b border-gray-200 dark:border-dark-5">
        <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; float: right; ">
       Institución / Área
        </h2>


     

        <div class="w-full sm:w-auto flex mt-4 sm:mt-0" style="float: left;">
            <a routerLink="/empresas/add" class="button text-white shadow-md mr-2" style="background-color: #FF8300;">Agregar Institución / Área</a>
            <div class="dropdown relative ml-auto sm:ml-0">
            

            
            </div>
        </div>


      
    </div>
    
    <div class="modal" id="success-modal-preview">
        <div class="modal__content">
            <div class="p-5 text-center"> <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
                <div class="text-3xl mt-5">Muy bien!</div>
                <div class="text-gray-600 mt-2">Has eliminado una Institución / Área!</div>
            </div>
            <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
        </div>
    </div>
    <br>

    <button id="empresa" (click)="recargar()" class="button text-white shadow-md mr-2" style="background-color: #FF8300;">Externas</button>

    <button id="alumnos" (click)="recargar2()" class="button text-white bg-theme-8 shadow-md mr-2">Internas</button>
    <br>
    <br>


    <!-- BEGIN: Datatable -->

    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible" id="tabla1" style="display: block;">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <!-- <th class="border-b-2 text-center whitespace-no-wrap">LOGO</th> -->

                    <th class="border-b-2 text-center whitespace-no-wrap">INSTITUCIONES / ÁREAS</th>

                    <th class="border-b-2 text-center whitespace-no-wrap">EXTERNO</th>

                    <th class="border-b-2 text-center whitespace-no-wrap">ESTADO</th>
                    <th class="border-b-2 text-center whitespace-no-wrap">ACCIONES</th>

                </tr>
            </thead>
            <tbody *ngIf="empresa?.length != 0">

                <tr *ngFor="let empresa of empresa">

                    <!-- <td class="border-b">
                        <div class="flex flex-1 px-5 items-center justify-center " align="center" *ngIf="empresa.Imagen==null   ;else no" >

                        <div class="text-center w-0 h-20 sm:w-24 sm:h-24 flex-none lg:w-12 lg:h-12 image-fit relative" align="center">
                            <img  alt="Midone Tailwind HTML Admin Template" id="blah" class="rounded-full" src="https://img.icons8.com/ios/452/company.png">

                        </div>
                    </div>
                    <ng-template #no>
                    <div class="w-0 h-20 sm:w-24 sm:h-24 flex-none lg:w-12 lg:h-12 image-fit relative" >

                        <img #no alt="Midone Tailwind HTML Admin Template" id="blah" class="rounded-full" src="data:image/jpeg;base64,{{empresa.Imagen}}">
                        </div>
                    </ng-template>

                    </td> -->

                    <td class="border-b" *ngIf="empresa.nombreComun!='Interna'">
                        <a [routerLink]="['/empresas/ver', empresa.id]">
                            <div class="rounded-lg text-center px-1 py-1 mb-2  text-black"> {{empresa.organizacion}}</div>
                        </a>
                    </td>
                    <td class="border-b" *ngIf="empresa.nombreComun=='Interna'">
                        <a [routerLink]="['/empresas/ver', empresa.id]">
                            <div class="rounded-lg text-center px-1 py-1 mb-2  text-black">{{empresa.vicerrectoria}}/{{empresa.cordinacion}}</div>
                        </a>
                    </td>
                    <td class="border-b " *ngIf="empresa.nombreComun!='Interna'   ;else template">

                        <div class="font-medium flex sm:justify-center items-center">Institución / Área externa</div>
                    </td>
                    <ng-template #template>
                        <td class="border-b ">

                            <div class="font-medium flex sm:justify-center items-center">Institución / Área Interna</div>
                        </td>
                    </ng-template>
                    <td class="w-40 border-b">
                        <div class="rounded-md text-center px-1 py-1 mb-2 bg-theme-12 text-white" *ngIf="empresa.idEstadoOrganizacion==2">{{empresa.estadoOrganizacion}}</div>
                        <div class="rounded-md text-center px-1 py-1 mb-2 bg-theme-12 text-white" *ngIf="empresa.idEstadoOrganizacion==1">{{empresa.estadoOrganizacion}}</div>
                        <div class="rounded-md text-center px-1 py-1 mb-2 bg-theme-9 text-white" *ngIf="empresa.idEstadoOrganizacion==3">{{empresa.estadoOrganizacion}}</div>
                        <div class="rounded-md text-center px-1 py-1 mb-2 bg-theme-6 text-white" *ngIf="empresa.idEstadoOrganizacion==4">{{empresa.estadoOrganizacion}}</div>

                    </td>
                    <td class="border-b w-5">
                        <div class="flex sm:justify-center items-center">
                            <a class="flex items-center mr-3" [routerLink]="['/empresas/Edit', empresa.id]"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Editar </a>
                            <a class="flex items-center text-theme-6" (click)="modaleliminar(empresa.id)"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Eliminar </a>
                        </div>

                    </td>
                    <div class="modal" id="delete-modal-preview-{{empresa.id}}">
                        <div class="modal__content">
                            <div class="p-5 text-center"> <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                                <div class="text-3xl mt-5">¿Estas seguro de eliminar Institución / Área?</div>
                                <div class="text-gray-600 mt-2">Eliminar a Institución / Área es irreversible y no se puede deshacer.</div>
                            </div>
                            <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1">Cancelar</button> <button type="button" (click)="eliminar(empresa.id)" data-dismiss="modal" class="button w-24 bg-theme-6 text-white">Eliminar</button>                                </div>
                        </div>
                    </div>
                </tr>


            </tbody>
        </table>


    </div>

    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible" id="tabla2" style="display: none;">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <!-- <th class="border-b-2 text-center whitespace-no-wrap">LOGO</th> -->

                    <th class="border-b-2 text-center whitespace-no-wrap">INSTITUCIONES / ÁREAS</th>

                    <th class="border-b-2 text-center whitespace-no-wrap">EXTERNO</th>

                    <th class="border-b-2 text-center whitespace-no-wrap">ESTADO</th>
                    <th class="border-b-2 text-center whitespace-no-wrap">ACCIONES</th>

                </tr>
            </thead>
            <tbody *ngIf="empresa2?.length != 0">

                <tr *ngFor="let empresa of empresa2">

                    <!-- <td class="border-b">
                        <div class="flex flex-1 px-5 items-center justify-center " align="center" *ngIf="empresa.Imagen==null   ;else no" >

                        <div class="text-center w-0 h-20 sm:w-24 sm:h-24 flex-none lg:w-12 lg:h-12 image-fit relative" align="center">
                            <img  alt="Midone Tailwind HTML Admin Template" id="blah" class="rounded-full" src="https://img.icons8.com/ios/452/company.png">

                        </div>
                    </div>
                    <ng-template #no>
                    <div class="w-0 h-20 sm:w-24 sm:h-24 flex-none lg:w-12 lg:h-12 image-fit relative" >

                        <img #no alt="Midone Tailwind HTML Admin Template" id="blah" class="rounded-full" src="data:image/jpeg;base64,{{empresa.Imagen}}">
                        </div>
                    </ng-template>

                    </td> -->

                    <td class="border-b" *ngIf="empresa.nombreComun!='Interna'">
                        <a [routerLink]="['/empresas/ver', empresa.id]">
                            <div class="rounded-lg text-center px-1 py-1 mb-2  text-black"> {{empresa.organizacion}}</div>
                        </a>
                    </td>
                    <td class="border-b" *ngIf="empresa.nombreComun=='Interna'">
                        <a [routerLink]="['/empresas/ver', empresa.id]">
                            <div class="rounded-lg text-center px-1 py-1 mb-2  text-black">{{empresa.vicerrectoria}}/{{empresa.cordinacion}}</div>
                        </a>
                    </td>
                    <td class="border-b " *ngIf="empresa.nombreComun!='Interna'   ;else template">

                        <div class="font-medium flex sm:justify-center items-center">Institución / Área externa</div>
                    </td>
                    <ng-template #template>
                        <td class="border-b ">

                            <div class="font-medium flex sm:justify-center items-center">Institución / Área Interna</div>
                        </td>
                    </ng-template>
                    <td class="w-40 border-b">
                        <div class="rounded-md text-center px-1 py-1 mb-2 bg-theme-12 text-white" *ngIf="empresa.idEstadoOrganizacion==2">{{empresa.estadoOrganizacion}}</div>
                        <div class="rounded-md text-center px-1 py-1 mb-2 bg-theme-12 text-white" *ngIf="empresa.idEstadoOrganizacion==1">{{empresa.estadoOrganizacion}}</div>
                        <div class="rounded-md text-center px-1 py-1 mb-2 bg-theme-9 text-white" *ngIf="empresa.idEstadoOrganizacion==3">{{empresa.estadoOrganizacion}}</div>
                        <div class="rounded-md text-center px-1 py-1 mb-2 bg-theme-6 text-white" *ngIf="empresa.idEstadoOrganizacion==4">{{empresa.estadoOrganizacion}}</div>

                    </td>
                    <td class="border-b w-5">
                        <div class="flex sm:justify-center items-center">
                            <a class="flex items-center mr-3" [routerLink]="['/empresas/Edit', empresa.id]"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Editar </a>
                            <a class="flex items-center text-theme-6" (click)="modaleliminar(empresa.id)"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Eliminar </a>
                        </div>

                    </td>
                    <div class="modal" id="delete-modal-preview-{{empresa.id}}">
                        <div class="modal__content">
                            <div class="p-5 text-center"> <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                                <div class="text-3xl mt-5">¿Estas seguro de eliminar Institución / Área?</div>
                                <div class="text-gray-600 mt-2">Eliminar a Institución / Área es irreversible y no se puede deshacer.</div>
                            </div>
                            <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1">Cancelar</button> <button type="button" (click)="eliminar(empresa.id)" data-dismiss="modal" class="button w-24 bg-theme-6 text-white">Eliminar</button>                                </div>
                        </div>
                    </div>
                </tr>


            </tbody>
        </table>


    </div>

    <!-- END: Datatable -->
</div>
<!-- END: Content -->