<app-menu></app-menu>

    <div class="content">
        <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
            <h2 class="text-lg font-medium mr-auto">
                Institución / Área
            </h2>
            <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
                <button routerLink="/empresas/add" class="button text-white bg-theme-1 shadow-md mr-2">Agregar Institución / Área</button>
                <div class="dropdown relative ml-auto sm:ml-0">
                    <button class="dropdown-toggle button px-2 box text-gray-700 dark:text-gray-300">
                        <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4" data-feather="plus"></i> </span>
                    </button>
                    <div class="dropdown-box mt-10 absolute w-40 top-0 right-0 z-20">
                        <div class="dropdown-box__content box dark:bg-dark-1 p-2">
                            <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="file-plus" class="w-4 h-4 mr-2"></i> New Category </a>
                            <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="users" class="w-4 h-4 mr-2"></i> New Group </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="success-modal-preview">
            <div class="modal__content">
                <div class="p-5 text-center"> <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
                    <div class="text-3xl mt-5">Muy bien!</div>
                    <div class="text-gray-600 mt-2">Has eliminado una Institución / Área!</div>
                </div>
                <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
            </div>
        </div>
    <!-- BEGIN: Datatable -->
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table datatable #dataTable 
            class="table table-report -mt-2">  <thead>
                <tr>
                    <!-- <th class="border-b-2 text-center whitespace-no-wrap">LOGO</th> -->

                    <th class="border-b-2 text-center whitespace-no-wrap">INSTITUCIONES / ÁREAS</th>

                    <th class="border-b-2 text-center whitespace-no-wrap">EXTERNO</th>

                    <th class="border-b-2 text-center whitespace-no-wrap">ESTADO</th>
                    <th class="border-b-2 text-center whitespace-no-wrap">ACCIONES</th>

                </tr>
            </thead>
            <tbody *ngIf="empresa?.length != 0">
             
                <tr *ngFor="let empresa of empresa">
         
                    <!-- <td class="border-b">
                        <div class="flex flex-1 px-5 items-center justify-center " align="center" *ngIf="empresa.Imagen==null   ;else no" >

                        <div class="text-center w-0 h-20 sm:w-24 sm:h-24 flex-none lg:w-12 lg:h-12 image-fit relative" align="center">
                            <img  alt="Midone Tailwind HTML Admin Template" id="blah" class="rounded-full" src="https://img.icons8.com/ios/452/company.png">

                        </div>
                    </div>
                    <ng-template #no>
                    <div class="w-0 h-20 sm:w-24 sm:h-24 flex-none lg:w-12 lg:h-12 image-fit relative" >

                        <img #no alt="Midone Tailwind HTML Admin Template" id="blah" class="rounded-full" src="data:image/jpeg;base64,{{empresa.Imagen}}">
                        </div>
                    </ng-template>

                    </td> -->
                
                    <td class="border-b" *ngIf="empresa.nombreComun!='Interna'" >
                        <a [routerLink]="['/empresas/ver', empresa.id]" >    <div class="rounded-lg text-center px-1 py-1 mb-2  text-black"> {{empresa.organizacion}}</div></a>
                    </td>
                    <td class="border-b" *ngIf="empresa.nombreComun=='Interna'" >
                        <a [routerLink]="['/empresas/ver', empresa.id]" >    <div class="rounded-lg text-center px-1 py-1 mb-2  text-black">{{empresa.vicerrectoria}}/{{empresa.cordinacion}}</div></a>
                    </td>
                    <td class="border-b " *ngIf="empresa.nombreComun!='Interna'   ;else template">

                        <div class="font-medium flex sm:justify-center items-center">Institución / Área externa</div>
                    </td>
                    <ng-template #template >
                    <td class="border-b ">

                        <div class="font-medium flex sm:justify-center items-center">Institución / Área Interna</div>
                    </td>
                </ng-template>
                    <td class="w-40 border-b">
                        <div class="rounded-md text-center px-1 py-1 mb-2 bg-theme-12 text-white" *ngIf="empresa.idEstadoOrganizacion==2">{{empresa.estadoOrganizacion}}</div>
                        <div class="rounded-md text-center px-1 py-1 mb-2 bg-theme-12 text-white" *ngIf="empresa.idEstadoOrganizacion==1">{{empresa.estadoOrganizacion}}</div>
                        <div class="rounded-md text-center px-1 py-1 mb-2 bg-theme-9 text-white"*ngIf="empresa.idEstadoOrganizacion==3">{{empresa.estadoOrganizacion}}</div>
                        <div class="rounded-md text-center px-1 py-1 mb-2 bg-theme-6 text-white"*ngIf="empresa.idEstadoOrganizacion==4">{{empresa.estadoOrganizacion}}</div>

                    </td>
                    <td class="border-b w-5">
                        <div class="flex sm:justify-center items-center">
                            <a class="flex items-center mr-3" [routerLink]="['/empresas/Edit', empresa.id]"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Editar </a>
                            <a class="flex items-center text-theme-6"  (click)="modaleliminar(empresa.id)"  > <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Eliminar </a>
                        </div>
                        
                    </td>
                       <div class="modal" id="delete-modal-preview-{{empresa.id}}">
                    <div class="modal__content">
                        <div class="p-5 text-center"> <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                            <div class="text-3xl mt-5">¿Estas seguro de eliminar  Institución / Área?</div>
                            <div class="text-gray-600 mt-2">Eliminar a Institución / Área  es irreversible y no se puede deshacer.</div>
                        </div>
                        <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1">Cancelar</button> <button type="button" (click)="eliminar(empresa.id)" data-dismiss="modal"  class="button w-24 bg-theme-6 text-white">Eliminar</button> </div>
                    </div>
                </div>
                </tr>

      
            </tbody>
        </table>


    </div>
    
    <!-- END: Datatable -->
</div>
<!-- END: Content -->

