<app-menu></app-menu>

<div class="content" *ngIf="responsablemodel.externa">

    <div class="modal" id="success-modal-preview">
        <div class="modal__content">
            <div class="p-5 text-center">
                <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
                <div class="text-base mt-5">Muy bien!</div>
                <div class="text-basemt-2">Has editado una empresa!</div>
            </div>
            <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
        </div>
    </div>
    <div class="modal" id="success-modal-preview-file">
        <div class="modal__content">
            <div class="p-5 text-center">
                <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
                <div class="text-base mt-5">Muy bien!</div>
                <div class="text-basemt-2">¡Se subió el archivo de la empresa!</div>
            </div>
            <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
        </div>
    </div>
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            Empresa
        </h2>

    </div>



    <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            Información General
        </h2>
    </div>
    <div class="box ">
        <br>
        <div class="flex flex-1 px-5 items-center justify-center " align="center">
            <div class="w-0 h-20 sm:w-24 sm:h-24 flex-none lg:w-48 lg:h-48 image-fit relative">
                <img alt="Midone Tailwind HTML Admin Template" id="blah" class="rounded-full" src="{{logo}}">
            </div>
        </div>
        
        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                <div class=" p-5">
                    <div class="text-base text-center text-gray-600 mt-1" align="center">Nombre Oficial de la Institución:</div>

                    <div class="text-base font-bold leading-8 mt-6" align="center"> {{empresaModel.organizacion}} </div>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
                <div class=" p-5">
                    <div class="text-base text-center text-gray-600 mt-1" align="center">Nombre Común de la Institución:</div>

                    <div class="text-base font-bold leading-8 mt-6" align="center"> {{empresaModel.nombreComun}} </div>
                </div>
            </div>

        </div>
        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="col-span-12 sm:col-span-8 xl:col-span-8 intro-y">
                <div class=" p-5">
                    <div class="text-base  text-gray-600 mt-1" >Descripción introductoria de la Institución:</div>

                    <div class="text-base font-bold leading-8 mt-6" > {{empresaModel.descripcion}} </div>
               
                </div>
            </div>

            <div class="col-span-12 sm:col-span-4 xl:col-span-4 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">

                    Años de Antigüedad de la Institución:</div>

                    <div class="text-base font-bold leading-12 mt-12" ></div> {{empresaModel.antiguedad}} </div>
                </div>

        </div>

        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
                <div class=" p-5">
                    <div class="text-base text-center text-gray-600 mt-1" align="center">Contacto</div>
                </div>
            </div>

        </div>
        <div class="grid grid-cols-12 gap-6 mt-5 bg-primary">
            <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                <div class="p-5">
                    <div class="text-base text-gray-600 mt-1">Nombre del Director de la Institución:</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{responsablemodel.nombreCompletoDirector}} </div>
                </div>
            </div>




            <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">
                        <div class="col-xs-1-12">

                        </div>
                    </div>
                    <div class="text-base text-gray-600 mt-1">Nombre del Responsable de Servicio Social en la Institución:</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{responsablemodel.nombreCompletoResponsable}} </div>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">Departamento o Área:</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{responsablemodel.departamento}}</div>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">
                        Puesto del Responsable de Servicio Social:

                        <div class="text-base font-bold leading-8 mt-6">{{responsablemodel.puesto}} </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-6 mt-5 bg-primary">
     

            <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">
                        <div class="col-xs-1-12">

                        </div>
                    </div>
                    <div class="text-base text-gray-600 mt-1">Número telefónico del Responsable de Servicio Social:</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{responsablemodel.telefono}} </div>
                </div>
            </div>
            <!-- <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">Usuario del Responsable de Servicio Social:</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{responsablemodel.usuario}}</div>
                </div>
            </div> -->
            <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">Correo del Responsable de Servicio Social:</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{responsablemodel.correo}} </div>
                </div>
            </div>

            <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">
                        Contraseña del Responsable de Servicio Social:

                        <div class="text-base font-bold leading-8 mt-6">
                            <input type="password" style="padding: 5px; background: #ffffff;" disabled name="" id="" value="  {{responsablemodel.contrasena}} ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        




    

<br>
<div class="grid grid-cols-12 gap-4 mt-5">

    <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        <div class=" p-5">
            <div class="text-base text-gray-600 mt-1">
                Misíon

                <div class="text-base font-bold leading-8 mt-6"> {{empresaModel.mision}} </div>
            </div>
        </div>
    </div>

    <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        <div class=" p-5">
            <div class="text-base text-gray-600 mt-1">Objetivo</div>

            <div class="text-base font-bold leading-8 mt-6">{{empresaModel.objetivo}}</div>
        </div>
    </div>
    <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        <div class=" p-5">
            <div class="text-base text-gray-600 mt-1">Logros</div>


            <div class="text-base font-bold leading-8 mt-6">{{empresaModel.logros}}</div>
        </div>
    </div>
</div>
<br>
<div class="grid grid-cols-12 gap-4 mt-5">
                <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">

                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">¿Cuál es la razón de ser de la Institución?</div>

                    <div class="text-base font-bold leading-8 mt-6">{{empresaModel.razon}}</div>
                </div>
            </div>

            <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">Enumere los Reconocimientos y Certificaciones con los que cuenta la Institución: </div>


                    <div class="text-base font-bold leading-8 mt-6">{{empresaModel.reconocimiento}}</div>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">Enumere los Principales Logros de la Institución: </div>


                    <div class="text-base font-bold leading-8 mt-6">{{empresaModel.logros}}</div>
                </div>
            </div>
        </div>

   <br>
        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">Legionario</div>
                    <div class="text-base font-bold leading-8 mt-6">
                        <p *ngIf="empresaModel.legionario==true"> Si</p>
                        <p *ngIf="empresaModel.legionario==false"> No</p>
                    </div>
                </div>
            </div>


            <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">
                        <div class="col-xs-1-12">

                        </div>
                    </div>
                    <div class="text-base text-gray-600 mt-1">Giro</div>

                    <div class="text-base font-bold leading-8 mt-6">
                        <h1 *ngFor="let gi of giro">
                            <p *ngIf="gi.id==empresaModel.idGiroOrganizacion"> {{gi.giro}}</p>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">Clasificación</div>

                    <div class="text-base font-bold leading-8 mt-6">
                        <h1 *ngFor="let gi of clasificacion">
                            <p *ngIf="gi.id==empresaModel.idGiroOrganizacion"> {{gi.clasificacion}}</p>
                        </h1>
                    </div>
                </div>
            </div>
 
        </div>

<br>

<br>

<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
        <div class=" p-5">
            <div class="text-base text-center text-gray-600 mt-1" align="center">Redes Sociales</div>
        </div>
    </div>

</div>
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
        <div class=" p-5">
            <div class="text-base text-gray-600 mt-1">
                Pagina Web

<a href="{{empresaModel.web}}">
                <div class="text-base font-bold leading-8 mt-6">{{empresaModel.web}} </div>
            </a>
            </div>
        </div>
    </div>

    <div class="col-span-12 sm:col-span-6 xl:col-span-6 intro-y">
        <div class=" p-5">
            <div class="text-base text-gray-600 mt-1">
Facebook
<a href="{{empresaModel.facebook}}">
                <div class="text-base font-bold leading-8 mt-6"> {{empresaModel.facebook}} </div>
            </a>
            </div>
        </div>
    </div> 
    
</div>
<br>
<div class="grid grid-cols-12 gap-6 mt-5">
   
     <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        <div class=" p-5">
            <div class="text-base text-gray-600 mt-1">
            Instagram

            <a href="{{empresaModel.instagram}}">

                <div class="text-base font-bold leading-8 mt-6">{{empresaModel.instagram}} </div>
            </a>
            </div>
        </div>
    </div>  <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        <div class=" p-5">
            <div class="text-base text-gray-600 mt-1">
                Youtube

                <a href="{{empresaModel.youtube}}">

                <div class="text-base font-bold leading-8 mt-6">{{empresaModel.youtube}} </div>
            </a>
            </div>
        </div>
    </div>
    <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        <div class=" p-5">
            <div class="text-base text-gray-600 mt-1">
                Tiktok

                <a href="{{empresaModel.tiktok}}">

                <div class="text-base font-bold leading-8 mt-6">{{empresaModel.tiktok}} </div>
            </a>
            </div>
        </div>
    </div>
</div>
    </div>




    <br>
    <br>

    <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            Dirección
        </h2>
    </div>
    <div class="grid grid-cols-12 gap-6 mt-5 bg-primary">
        <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
            <div class="report-box ">
                <div class="box p-5">
                    <div class="text-base text-gray-600 mt-1">País</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{empresaModel.pais}} </div>
                </div>
            </div>
        </div>


        <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
            <div class="report-box ">
                <div class="box p-5">
                    <div class="text-base text-gray-600 mt-1">
                        <div class="col-xs-1-12">

                        </div>
                    </div>
                    <div class="text-base text-gray-600 mt-1">Ciudad</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{empresaModel.ciudad}} </div>
                </div>
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
            <div class="report-box ">
                <div class="box p-5">
                    <div class="text-base text-gray-600 mt-1">Estado</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{empresaModel.estado}}</div>
                </div>
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
            <div class="report-box ">
                <div class="box p-5">
                    <div class="text-base text-gray-600 mt-1">
                        Municipio/Delegación

                        <div class="text-base font-bold leading-8 mt-6">{{empresaModel.municipio}} </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-12 gap-6 mt-5 bg-primary">
        <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
            <div class="report-box ">
                <div class="box p-5">
                    <div class="text-base text-gray-600 mt-1">Colonia</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{empresaModel.colonia}} </div>
                </div>
            </div>
        </div>


        <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
            <div class="report-box ">
                <div class="box p-5">
                    <div class="text-base text-gray-600 mt-1">
                        <div class="col-xs-1-12">

                        </div>
                    </div>
                    <div class="text-base text-gray-600 mt-1">Calle</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{empresaModel.calle}} </div>
                </div>
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
            <div class="report-box ">
                <div class="box p-5">
                    <div class="text-base text-gray-600 mt-1">Num. Ext.</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{empresaModel.noExt}}</div>
                </div>
            </div>
        </div>

        <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
            <div class="report-box ">
                <div class="box p-5">
                    <div class="text-base text-gray-600 mt-1">
                        Num. Int.

                        <div class="text-base font-bold leading-8 mt-6">{{empresaModel.noInt}} </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br><br>



    <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            Área de Acción

        </h2>
    </div>
    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
            <div class="report-box ">
                <div class="box p-5">

                    <div class="text-base font-bold leading-8 mt-6">
                        <h1 *ngFor="let a of areas">
                            <p *ngIf="idAreaAccion!=undefined && idAreaAccion.indexOf(a.id) >=0">{{a.areaAccion}}</p>
                        </h1>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <br>
    <br>
 


    <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            Rubro
        </h2>
    </div>
    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
            <div class="report-box ">
                <div class="box p-5">

                    <div class="text-base font-bold leading-8 mt-6">
                        <h1 *ngFor="let a of rubros">
                            <p *ngIf="idRubro!=undefined && idRubro.indexOf(a.id) >=0">{{a.rubro}}</p>
                        </h1>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <br>
    <br>




    <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            Institución Externa
        </h2>
    </div>

    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
            <div class="report-box ">
                <div class="box p-5">

                    <div class="text-base font-bold leading-8 mt-6" *ngIf="responsablemodel.externa==true">
                        Si

                    </div>
                    <div class="text-base font-bold leading-8 mt-6" *ngIf="responsablemodel.externa==false">
                        No

                    </div>
                </div>
            </div>
        </div>

    </div>


<br>
<br>



<section  *ngIf="cambio" >
    <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
        <h2 class="font-medium text-base mr-auto">
            9. Campo de inf. áreas internas
        </h2>
    </div>
    

    <div class="grid grid-cols-12 gap-12 mt-5 bg-primary">
        <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
            <div class="report-box ">
                <div class="box p-5">

                    <div class="text-base font-bold leading-8 mt-6"> Campus : {{empresaModel.ancianos}} </div>
                </div>
            </div>
        </div>

        <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
            <div class="report-box ">
                <div class="box p-5">

                    <div class="text-base font-bold leading-8 mt-6">
                         Vicerrectoría : {{empresaModel.indigenas}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
            <div class="report-box ">
                <div class="box p-5">

                    <div class="text-base font-bold leading-8 mt-6">
                        Dirección : {{empresaModel.discapacitados}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-3 mt-5 bg-primary">

        <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
            <div class="report-box ">
                <div class="box p-5">

                    <div class="text-base font-bold leading-8 mt-6">
                        Área/Coordinación : {{empresaModel.jovenes}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
            <div class="report-box ">
                <div class="box p-5">

                    <div class="text-base font-bold leading-8 mt-6">
                        Descripción introductoria del área : {{empresaModel.mujeres}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
            <div class="report-box ">
                <div class="box p-5">

                    <div class="text-base font-bold leading-8 mt-6">
                        Principales Objetivos : {{empresaModel.ninos}}
                    </div>
                </div>
            </div>
        </div>

    </div>
  
    
    </section>


<!-- 


    <br><br>



    <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            Nodos de jerarquía institucional
        </h2>
    </div>
    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
            <div class="report-box ">
                <div class="box p-5">

                    <div class="text-base font-bold leading-8 mt-6">
                        <h1 *ngFor="let a of universidades">
                            <p *ngIf="a.id==empresaModel.id">{{a.universidad}}</p>
                        </h1>

                    </div>
                </div>
            </div>
        </div>

    </div> -->

    <br>
    <br>




    <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            Documentos
        </h2>
    </div>

    <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
        <table class="table table-report sm:mt-2">
            <thead>
                <tr>

                    <th class="whitespace-no-wrap">DOCUMENTO</th>
                    <th class="whitespace-no-wrap">ADJUNTO</th>
                    <th class="whitespace-no-wrap"> FECHA ENTREGA</th>
                    <th class="whitespace-no-wrap">ENTREGADO</th>

                </tr>
            </thead>
            <tbody>
                <tr class="intro-x" *ngFor="let d of DocumentosSubidos">

                    <td>
                        <div class="ext-base text-xs whitespace-no-wrap"> {{d.documento}}</div>
                    </td>
                    <td>
                        <div class="ext-base text-xs whitespace-no-wrap">
                            <a (click)="abrirsubir(d.idDocumentoRequerido)" >
                             
                                <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">   Subir Archivo </button>
                            </a>
                        </div>
                    </td>

                    <td>
                        <div class="text-base whitespace-no-wrap" *ngIf="d.id >0"> {{d.fechaCreacion.substr(0,10)}}</div>
                    </td>
                    <td style="padding: 5px; background: #ffffff; " align="center">
                        <input type="checkbox" id="1" onclick="entregadoDocumento(this.id,137994,35);" [checked]="d.id >0" ng-disabled="true">
                    </td>

                    <div class="modal" id="abrirsubir-{{d.idDocumentoRequerido}}">
                        <div class="modal__content">
                            <form #form="ngForm" (ngSubmit)="subeArchivo()">
                                <div class="p-5 text-center">
                                    <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                                    <div class="text-base mt-5">Subir Archivo del documento: {{d.documento}}</div>
                                    <br>
                                    <input type="file" id="file" name="file" accept="application/pdf" (change)="uploadFile($event.target.files)">
                                </div>

                                <div class="px-5 pb-8 text-center">
                                    <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1">
                    Cancelar
                  </button>
                                    <button type="submit" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Subir</button>
                                </div>
                            </form>


                        </div>
                    </div>

                </tr>



            </tbody>
        </table>
    </div>




    <br><br>




    <div class="grid grid-cols-12 gap-6 mt-5 bg-primary">
        <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
            <div class="p-5">
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Estado
                    </h2>
                </div>
                <select class="input  border mr-2 tail-select w-full" [(ngModel)]="empresaModel.idEstadoOrganizacion" name="estado">
                    <option [ngValue]="gi.id" *ngFor="let gi of estado">{{gi.estado}}</option>
        
                  </select>
                 </div>
                      <button class="button text-white bg-theme-1 shadow-lg ml-5 " (click)="actualizarestado()">
                Actualizar estado
              </button>
        </div>




        <div class="col-span-12 sm:col-span-6 xl:col-span-9 intro-y">
            <div class=" p-5">
          
         
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Observaciones
                    </h2>
                </div>
                <textarea class="mt-3 w-full" style="padding: 5px;" name="textarea" [(ngModel)]="empresaModel.observaciones" name="observaciones" rows="10"></textarea>
          
            </div>
       
        </div>
   
    </div>
 
<br>
<br>
<div class="intro-y flex items-center h-10">
    <h2 class="text-lg font-medium truncate mr-5">
        Número de personas que atienden
    </h2>
</div>

<div class="grid grid-cols-12 gap-6 mt-5 bg-primary">
    <div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y">
        <div class="report-box ">
            <div class="box p-5">

                <div class="text-base font-bold leading-8 mt-6"> Ancianos : {{empresaModel.ancianos}} </div>
            </div>
        </div>
    </div>

    <div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y">
        <div class="report-box ">
            <div class="box p-5">

                <div class="text-base font-bold leading-8 mt-6">
                    Indígenas : {{empresaModel.indigenas}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y">
        <div class="report-box ">
            <div class="box p-5">

                <div class="text-base font-bold leading-8 mt-6">
                    Discapacitados : {{empresaModel.discapacitados}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y">
        <div class="report-box ">
            <div class="box p-5">

                <div class="text-base font-bold leading-8 mt-6">
                    Jóvenes : {{empresaModel.jovenes}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y">
        <div class="report-box ">
            <div class="box p-5">

                <div class="text-base font-bold leading-8 mt-6">
                    Mujeres : {{empresaModel.mujeres}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y">
        <div class="report-box ">
            <div class="box p-5">

                <div class="text-base font-bold leading-8 mt-6">
                    Niños : {{empresaModel.ninos}}
                </div>
            </div>
        </div>
    </div>

</div>

<br><br>


</div>

<div class="content" *ngIf="!responsablemodel.externa">

    <div class="modal" id="success-modal-preview">
        <div class="modal__content">
            <div class="p-5 text-center">
                <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
                <div class="text-base mt-5">Muy bien!</div>
                <div class="text-basemt-2">Has editado una empresa!</div>
            </div>
            <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
        </div>
    </div>
    <div class="modal" id="success-modal-preview-file">
        <div class="modal__content">
            <div class="p-5 text-center">
                <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
                <div class="text-base mt-5">Muy bien!</div>
                <div class="text-basemt-2">¡Se subió el archivo de la empresa!</div>
            </div>
            <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
        </div>
    </div>
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            Empresa
        </h2>

    </div>



    <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            Información General
        </h2>
    </div>
    <div class="box ">
        <div class="grid grid-cols-12 gap-4 mt-5">

            <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">
                        Campus
        
                        <div class="text-base font-bold leading-8 mt-6"> {{empresaModel.universidad}} </div>
                    </div>
                </div>
            </div>
        
            <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">Vicerrectoría</div>
        
                    <div class="text-base font-bold leading-8 mt-6">{{empresaModel.vicerrectoria}}</div>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">Dirección</div>
        
        
                    <div class="text-base font-bold leading-8 mt-6">{{empresaModel.direccion}}</div>
                </div>
            </div>
        </div>
        <br>
        <div class="grid grid-cols-12 gap-4 mt-5">
                        <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
        
                        <div class=" p-5">
                            <div class="text-base text-gray-600 mt-1">Área/Coordinación</div>
        
                            <div class="text-base font-bold leading-8 mt-6">{{empresaModel.cordinacion}}</div>
                        </div>
                    </div>
        
                    <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                        <div class=" p-5">
                            <div class="text-base text-gray-600 mt-1">Descripción introductoria del área</div>
        
        
                            <div class="text-base font-bold leading-8 mt-6">{{empresaModel.descripcionArea}}</div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                        <div class=" p-5">
                            <div class="text-base text-gray-600 mt-1">
                           
                                Principales Objetivos:</div>
        
        
                            <div class="text-base font-bold leading-8 mt-6">{{empresaModel.objetivo}}</div>
                        </div>
                    </div>
                </div>
        
          
        
        
        
        
        
            <br>

        <div class="grid grid-cols-12 gap-6 mt-5">
            <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
                <div class=" p-5">
                    <div class="text-base text-center text-gray-600 mt-1" align="center">Contacto</div>
                </div>
            </div>

        </div>

        <div class="grid grid-cols-12 gap-6 mt-5 bg-primary">
            <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                <div class="p-5">
                    <div class="text-base text-gray-600 mt-1">Nombre del Director de la Institución:</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{responsablemodel.nombreCompletoDirector}} </div>
                </div>
            </div>




            <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">
                        <div class="col-xs-1-12">

                        </div>
                    </div>
                    <div class="text-base text-gray-600 mt-1">Nombre del Responsable de Servicio Social en la Institución:</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{responsablemodel.nombreCompletoResponsable}} </div>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">Departamento o Área:</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{responsablemodel.departamento}}</div>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">
                        Puesto del Responsable de Servicio Social:

                        <div class="text-base font-bold leading-8 mt-6">{{responsablemodel.puesto}} </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-12 gap-6 mt-5 bg-primary">
     

            <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">
                        <div class="col-xs-1-12">

                        </div>
                    </div>
                    <div class="text-base text-gray-600 mt-1">Número telefónico del Responsable de Servicio Social:</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{responsablemodel.telefono}} </div>
                </div>
            </div>
            <!-- <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">Usuario del Responsable de Servicio Social:</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{responsablemodel.usuario}}</div>
                </div>
            </div> -->
            <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">Correo del Responsable de Servicio Social:</div>

                    <div class="text-base font-bold leading-8 mt-6"> {{responsablemodel.correo}} </div>
                </div>
            </div>

            <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y">
                <div class=" p-5">
                    <div class="text-base text-gray-600 mt-1">
                        Contraseña del Responsable de Servicio Social:

                        <div class="text-base font-bold leading-8 mt-6">
                            <input type="password" style="padding: 5px; background: #ffffff;" disabled name="" id="" value="  {{responsablemodel.contrasena}} ">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        


    </div>

    

<br>




    <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            Área de Acción

        </h2>
    </div>
    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
            <div class="report-box ">
                <div class="box p-5">

                    <div class="text-base font-bold leading-8 mt-6">
                        <h1 *ngFor="let a of areas">
                            <p *ngIf="idAreaAccion!=undefined && idAreaAccion.indexOf(a.id) >=0">{{a.areaAccion}}</p>
                        </h1>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <br>
    <br>
   




    <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            Institución Externa
        </h2>
    </div>

    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
            <div class="report-box ">
                <div class="box p-5">

                    <div class="text-base font-bold leading-8 mt-6" *ngIf="responsablemodel.externa==true">
                        Si

                    </div>
                    <div class="text-base font-bold leading-8 mt-6" *ngIf="responsablemodel.externa==false">
                        No

                    </div>
                </div>
            </div>
        </div>

    </div>


<br>
<br>


<!-- 


    <br><br>



    <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            Nodos de jerarquía institucional
        </h2>
    </div>
    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="col-span-12 sm:col-span-12 xl:col-span-12 intro-y">
            <div class="report-box ">
                <div class="box p-5">

                    <div class="text-base font-bold leading-8 mt-6">
                        <h1 *ngFor="let a of universidades">
                            <p *ngIf="a.id==empresaModel.id">{{a.universidad}}</p>
                        </h1>

                    </div>
                </div>
            </div>
        </div>

    </div> -->

    <br>
    <br>




    <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            Documentos
        </h2>
    </div>

    <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
        <table class="table table-report sm:mt-2">
            <thead>
                <tr>

                    <th class="whitespace-no-wrap">DOCUMENTO</th>
                    <th class="whitespace-no-wrap">ADJUNTO</th>
                    <th class="whitespace-no-wrap"> FECHA ENTREGA</th>
                    <th class="whitespace-no-wrap">ENTREGADO</th>

                </tr>
            </thead>
            <tbody>
                <tr class="intro-x" *ngFor="let d of DocumentosSubidos">

                    <td>
                        <div class="ext-base text-xs whitespace-no-wrap"> {{d.documento}}</div>
                    </td>
                    <td>
                        <div class="ext-base text-xs whitespace-no-wrap">
                            <a (click)="abrirsubir(d.idDocumentoRequerido)" >
                             
                                <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">   Subir Archivo </button>
                            </a>
                        </div>
                    </td>

                    <td>
                        <div class="text-base whitespace-no-wrap" *ngIf="d.id >0"> {{d.fechaCreacion.substr(0,10)}}</div>
                    </td>
                    <td style="padding: 5px; background: #ffffff; " align="center">
                        <input type="checkbox" id="1" onclick="entregadoDocumento(this.id,137994,35);" [checked]="d.id >0" ng-disabled="true">
                    </td>

                    <div class="modal" id="abrirsubir-{{d.idDocumentoRequerido}}">
                        <div class="modal__content">
                            <form #form="ngForm" (ngSubmit)="subeArchivo()">
                                <div class="p-5 text-center">
                                    <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                                    <div class="text-base mt-5">Subir Archivo del documento: {{d.documento}}</div>
                                    <br>
                                    <input type="file" id="file" name="file" accept="application/pdf" (change)="uploadFile($event.target.files)">
                                </div>

                                <div class="px-5 pb-8 text-center">
                                    <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1">
                    Cancelar
                  </button>
                                    <button type="submit" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Subir</button>
                                </div>
                            </form>


                        </div>
                    </div>

                </tr>



            </tbody>
        </table>
    </div>




    <br><br>


    <div class="grid grid-cols-12 gap-6 mt-5 bg-primary">
        <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
            <div class="p-5">
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Estado
                    </h2>
                </div>
                <select class="input  border mr-2 tail-select w-full" [(ngModel)]="empresaModel.idEstadoOrganizacion" name="estado">
                    <option [ngValue]="gi.id" *ngFor="let gi of estado">{{gi.estado}}</option>
        
                  </select>
                 </div>
                 <button class="button text-white bg-theme-1 shadow-lg ml-5 " (click)="actualizarestado()">
                    Actualizar estado
                  </button>
        </div>




        <div class="col-span-12 sm:col-span-6 xl:col-span-9 intro-y">
            <div class=" p-5">
          
         
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Observaciones
                    </h2>
                </div>
                <textarea class="mt-3 w-full" style="padding: 5px;" name="textarea" [(ngModel)]="empresaModel.observaciones" name="observaciones" rows="10"></textarea>
          
            </div>
       
        </div>
   
    </div>

</div>