<app-menu></app-menu>

<br>
<br>
<br>

<!-- BEGIN: Content -->
<div class="container" style="font-family:Helvetica;">
  <div class="cargador" id="carg" style="display:none;"></div>
  <div class="modal" id="abrirsubir">
    <div class="modal__content modal__content--xl p-10 text-center">
      <form #form="ngForm">


        <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;">Subir Archivo excel con matrículas: </div>
        <br>
        <input type="file" id="file" name="file" accept="application/pdf,.doc,.docx" (change)="uploadFile($event.target.files)">

        <br>
        <br>
        <br>

        <div class="px-5 pb-8 text-center">
          <a  data-dismiss="modal" (click)="closeSubir()" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1">
            Cancelar
          </a>
          <button (click)="subeArchivo()" data-dismiss="modal" class="button w-24 text-white" style="background: #FF8800;">Subir</button>
        </div>
      </form>


    </div>
  </div>
  <div class="modal" id="success-modal-preview-file">
    <div class="modal__content modal__content--xl p-10 text-center">
      <div class="p-5 text-center">
        <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>

        <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;">¡Muy bien!</div>
        <div class=" mt-2 text-red text-center" style="color: #6B3F23; font-size: 25px;">Se agregaron las matrículas</div>


      </div>
      <div class="flex justify-center text-center items-center mt-3 text-center" style="background: #FF8300; border-radius: 15px;font-weight: bold; width: 180px; margin: auto;
      "> <br> <a data-dismiss="modal" style=" border-radius: 15px; font-size: 17px;" class="button  btn-lg text-white  ">Continuar</a> </div>
    </div>
  </div>

  <div class=" mt-8 p-5 border-b border-gray-200 dark:border-dark-5">


    <div class="" style="float: right;">
      <a (click)="abrirsubir(1)" class="button text-white shadow-md mr-2" style="background-color: #FF8300;">Subir matrículas junta de inducción</a>
      <a routerLink="/alumnos/add" class="button text-white shadow-md mr-2" style="background-color: #FF8300;">Agregar Alumno</a>
    </div>
    <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
      Alumnos
    </h2>

  </div>
  <br>


  <!-- BEGIN: Datatable -->

  <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th class="border-b-2 whitespace-no-wrap">NOMBRE COMPLETO</th>
          <th class="border-b-2 text-center whitespace-no-wrap">MATRICULA</th>
          <th class="border-b-2 text-center whitespace-no-wrap">CAMPUS</th>
          <th class="border-b-2 text-center whitespace-no-wrap">FACULTAD</th>
          <th class="border-b-2 text-center whitespace-no-wrap">STATUS</th>
          <th class="border-b-2 text-center whitespace-no-wrap">ACCIONES</th>
        </tr>
      </thead>
      <tbody *ngIf="alumnos?.length != 0">
        <tr *ngFor="let alumno of alumnos">
          <td class="border-b" style="background: rgb(250, 250, 250); font-size:17px;  font-weight: bold; ">
            <div class="modal" id="delete-modal-preview-{{alumno.id}}">
              <div class="modal__content">
                <div class="p-5 text-center">
                  <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                  <div class="text-3xl mt-5 text-center" style="color: #FF8300; font-size: 28px;">¿Estas seguro de eliminar al alumno?</div>
                  <div class="text-gray-600 mt-2">Eliminar al alumno es irreversible y no se puede deshacer.</div>
                </div>
                <div class="px-5 pb-8 text-center">
                  <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1">
                    Cancelar
                  </button>
                  <button type="button" class="button w-24 bg-theme-6 text-white" (click)="eliminar(alumno.id)">Eliminar</button>
                </div>
              </div>
            </div>
            <a [routerLink]="['/alumnos/ver', alumno.id]">
              <div class="font-medium whitespace-no-wrap">{{ alumno.nombre }}</div>
              <div class="text-gray-600 text-xs whitespace-no-wrap">{{ alumno.carrera }}</div>
            </a>
          </td>
          <td class="border-b" style="background: rgb(250, 250, 250); font-size:17px;  font-weight: bold; ">
            <div class="font-medium flex sm:justify-center items-center">{{ alumno.matricula }}</div>
          </td>
          <td class="text-center border-b" style="background: rgb(250, 250, 250); font-size:17px;  font-weight: bold; ">
            <div class="font-medium flex sm:justify-center items-center">{{ alumno.universidad }}</div>
          </td>
          <td class="text-center border-b" style="background: rgb(250, 250, 250); font-size:17px;  font-weight: bold; ">{{ alumno.facultad }}</td>
          <td class="w-40 border-b" style="background: rgb(250, 250, 250); font-size:17px;  font-weight: bold; ">
            <div class="rounded-md text-center px-1 py-1 mb-2 bg-theme-12 text-white"> INCONCLUSO </div>
          </td>
          <td class="border-b w-5" style="background: rgb(250, 250, 250); font-size:17px;  font-weight: bold; ">
            <div class="flex sm:justify-center items-center">
              <a class="flex items-center mr-3" [routerLink]="['/alumnos/edit', alumno.id]">
                <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Editar
              </a>
              <a class="flex items-center text-theme-6" href="javascript:;" (click)="modaleliminar(alumno.id)">
                <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Eliminar
              </a>
            </div>
          </td>
        </tr>

      </tbody>
      <tbody *ngIf="alumnos?.length == 0">
        <tr>
          <td colspan="3" class="no-data-available">No data!</td>
        </tr>
      <tbody>
    </table>
  </div>
  <!-- END: Datatable -->
</div>
<!-- END: Content -->
