<app-menu>
</app-menu>

<!-- BEGIN: Content -->
<div class="container" style="font-family:Helvetica;">
<br>
<br>
<br>

    <div class="modal" id="success-modal-preview">
        <div class="modal__content">
            <div class="p-5 text-center"> <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
                <div class="text-3xl mt-5">Muy bien!</div>
                <div class="text-gray-600 mt-2">Has agregado un alumno!</div>
            </div>
            <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
        </div>
    </div>

    <div class="modal" id="validacion">
        <div class="modal__content">
            <div class="p-5 text-center"> <i data-feather="x-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
                <div class="text-gray-600 mt-2">{{mensajevalidacion}}</div>
            </div>
            <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
        </div>
    </div>

    <form #formAlumno="ngForm" (ngSubmit)="onSubmit(formAlumno)">
        
        <div class=" flex-col sm:flex-row items-center p-5 " style="font-size:25px;  font-weight: bold; color: #FF8300;">
            <h2 class="font-medium text-center" style="font-size:25px;  font-weight: bold; color: #FF8300;" >
                Editar Alumno         </h2>
          </div>
        <!-- BEGIN: FORM  box p-5 mt-5 w-full -->

        <div class="intro-y ">
            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
                <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
                    Información Personal            </h2>
              </div>

            <div class="p-5" id="horizontal-form">
                <div class="preview">


                    <div class="flex flex-col sm:flex-row items-center mt-3" style="display: none">
                        <label style="font-size:19px; color:#FF8800; font-weight: bold;" class="sm:w-32 sm:text-right sm:mr-5">Activo:</label>
                        <input type="radio" ng-value="true" name="activo" [(ngModel)]="activo" [checked]="true" />
                    </div>


                    <div class="mt-3">
                        <div class="sm:grid grid-cols-3 gap-2">

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Nombre</label>
                                    <input type="text" class="input  w-full border mt-2 " name="nombre" [(ngModel)]="alumno.nombre" [ngModelOptions]="{standalone: true}" placeholder="">
                                </div>

                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Apellido Paterno:</label>
                                    <input type="text" class="input  w-full border mt-2 " name="paterno" [(ngModel)]="alumno.paterno" [ngModelOptions]="{standalone: true}" placeholder="">
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Apellido Materno:</label>
                                    <input type="text" class="input  w-full border mt-2 " name="materno" [(ngModel)]="alumno.materno" [ngModelOptions]="{standalone: true}" placeholder="">
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">ID Matricula</label>
                                    <input type="text" class="input  w-full border mt-2 " name="matricula" [(ngModel)]="alumno.matricula" [ngModelOptions]="{standalone: true}" placeholder="">
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Universidad:</label>
                                    <select class="input  w-full border mt-2 " name="idUniversidad" [(ngModel)]="alumno.idUniversidad" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let universidad of universidades" [ngValue]="universidad.id">{{ universidad.universidad }}</option>
                    </select>
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Facultad:</label>
                                    <select class="input  w-full border mt-2 " name="idFacultad" [(ngModel)]="alumno.idFacultad" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let facultad of facultades" [ngValue]="facultad.id">{{ facultad.facultad }}</option>
                    </select>
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Carrera:</label>
                                    <select class="input  w-full border mt-2 " name="idCarrera" [(ngModel)]="alumno.idCarrera" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let carrera of carreras" [ngValue]="carrera.id">{{ carrera.carrera }}</option>
                    </select>
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">Porcentaje Academico:</label>
                                    <input type="number" class="input  w-full border mt-2 " name="porcentaje" [(ngModel)]="alumno.porcentaje" [ngModelOptions]="{standalone: true}" placeholder="">
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                      Avance en créditos de la carrera:
                    </label>
                                    <input type="number" class="input  w-full border mt-2 " name="avanceCreditos" [(ngModel)]="alumno.avanceCreditos" [ngModelOptions]="{standalone: true}" placeholder="">
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                      Número de Semestre / Cuatrimestre:
                    </label>
                                    <input type="number" class="input  w-full border mt-2 " name="noCuatrimestreSemestre" [(ngModel)]="alumno.noCuatrimestreSemestre" [ngModelOptions]="{standalone: true}" placeholder="">
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                      ¿Tu carrera es semestral o cuatrimestral?
                    </label>
                                    <select class="input  w-full border mt-2 " name="esquemaPeriodo" [(ngModel)]="alumno.esquemaPeriodo" [ngModelOptions]="{standalone: true}">
                      <option [ngValue]="'semestral'">Semestral</option>
                      <option [ngValue]="'cuatrimestral'">Cuatrimestral</option>
                    </select>
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                      Generación:
                    </label>
                                    <input type="text" class="input  w-full border mt-2 " name="generacion" [(ngModel)]="alumno.generacion" [ngModelOptions]="{standalone: true}" placeholder="">
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                      Fecha estimada de graduación:
                    </label>
                                    <input type="date" class="input  w-full border mt-2 " name="fechaEstimadaGraduacion" [(ngModel)]="alumno.fechaEstimadaGraduacion" [ngModelOptions]="{standalone: true}" placeholder="">
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                      Correo Institucional:
                    </label>
                                    <input type="email" class="input  w-full border mt-2 " name="correoInstitucional" [(ngModel)]="alumno.correoInstitucional" [ngModelOptions]="{standalone: true}" placeholder="">
                                </div>
                            </div>
                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                      Correo Personal:
                    </label>
                                    <input type="email" class="input  w-full border mt-2 " name="correoPersonal" [(ngModel)]="alumno.correoPersonal" [ngModelOptions]="{standalone: true}" placeholder="">
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <div>
                                        <label style="font-size:19px; color:#FF8800; font-weight: bold;">Contraseña:</label>
                                        <input type="password" class="input  w-full border mt-2 " placeholder="" name="password" [(ngModel)]="alumno.password" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                      Teléfono de Contacto:
                    </label>
                                    <input type="tel" class="input  w-full border mt-2 " name="celular" [(ngModel)]="alumno.celular" [ngModelOptions]="{standalone: true}" placeholder="">
                                </div>
                            </div>
                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                      Fecha de Nacimiento:
                    </label>
                                    <input type="date" class="input  w-full border mt-2 " name="fechaNacimiento" [(ngModel)]="alumno.fechaNacimiento" [ngModelOptions]="{standalone: true}" placeholder="">
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                      Sexo:
                    </label>
                                    <select class="input  w-full border mt-2 " name="sexo" [(ngModel)]="alumno.sexo" [ngModelOptions]="{standalone: true}">
                      <option [ngValue]="'Hombre'">Hombre</option>
                      <option [ngValue]="'Mujer'">Mujer</option>
                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br>
                    <!--
          <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
            <h2 class="font-medium text-base mr-auto">
              Información del servicio social
            </h2>
          </div>
          <div class="mt-3">
              <div class="sm:grid grid-cols-3 gap-2">
                  <div class="relative mt-8">
                      <div>
                          <label style="font-size:19px; color:#FF8800; font-weight: bold;">cambiar:</label>
                          <input type="text" class="input  w-full border mt-2 " placeholder="" name="correo" ngModel>
                      </div>

                  </div>
              </div>
          </div>

          <br>-->

          <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5" style="font-size:25px;  font-weight: bold; ">
            <h2 class="font-medium text-base mr-auto" style="font-size:25px;  font-weight: bold; ">
                Información Complementaria
                  </h2>
          </div>

                    <div class="mt-3">
                        <div class="sm:grid grid-cols-2 gap-2">
                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                      ¿Has participado en ASUA?:
                    </label>
                                    <select class="input  w-full border mt-2 " name="participacionAsua" [(ngModel)]="alumno.participacionAsua" [ngModelOptions]="{standalone: true}">
                      <option [ngValue]="'si'">Si</option>
                      <option [ngValue]="'no'">No</option>
                    </select>
                                </div>
                            </div>


                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                      ¿Actualmente trabajas?:
                    </label>
                                    <select class="input  w-full border mt-2 " name="trabajas" [(ngModel)]="alumno.trabajas" [ngModelOptions]="{standalone: true}">
                      <option [ngValue]="'si'">Si</option>
                      <option [ngValue]="'no'">No</option>
                    </select>
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                      ¿Bajo qué modalidad trabajas?
                    </label>
                                    <select class="input  w-full border mt-2" name="idModalidadTrabajo" [(ngModel)]="alumno.idModalidadTrabajo" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let modalidad of listaModalidadesTrabajo" [ngValue]="modalidad.id">{{ modalidad.modalidad }}</option>
                    </select>
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                      ¿A partir de qué semestre / cuatrimestre comenzaste a trabajar?
                    </label>
                                    <select class="input  w-full border mt-2 " name="cuatrimestreComienzoTrabajo" [(ngModel)]="alumno.cuatrimestreComienzoTrabajo" [ngModelOptions]="{standalone: true}">
                      <option [ngValue]="1">1</option>
                      <option [ngValue]="2">2</option>
                      <option [ngValue]="3">3</option>
                      <option [ngValue]="4">4</option>
                      <option [ngValue]="5">5</option>
                      <option [ngValue]="6">6</option>
                      <option [ngValue]="7">7</option>
                      <option [ngValue]="8">8</option>
                      <option [ngValue]="9">9</option>
                      <option [ngValue]="10">10</option>
                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="sm:grid grid-cols-1 gap-2">
                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;">
                      Indica en cuál(es) área(s) de Vida Universitaria has participado
                    </label>
                                </div>
                                <br>
                                <div class="sm:grid grid-cols-3 gap-2">
                                    <div *ngFor="let area of listaAreasUniversidad">

                                        <label style="font-size:15px; color:black;">
                        <input type="checkbox" id="{{area.id}}" (change)="toggleAreasVidaUniversitariaParticipado($event.target.checked, area.id)" [checked]="idsPasados.indexOf(area.id) >=0">
                        {{area.areaVidaUniversitaria}}
                      </label>

                                    </div>
                                </div>
                            </div>

                            <div class="relative mt-8">
                                <div>
                                    <label style="font-size:19px; color:#FF8800; font-weight: bold;" >
                      ¿Actualmente formas parte de alguna área de Vida Universitaria?
                    </label>
                                </div>
                                <br>
                                <div class="sm:grid grid-cols-3 gap-2">
                                    <div *ngFor="let area of listaAreasUniversidad">

                                        <label style="font-size:15px; color:black; ">
                        <input type="checkbox" id="{{area.id}}" (change)="toggleAreasVidaUniversitariaActuales($event.target.checked, area.id)" [checked]="idsActuales.indexOf(area.id) >=0">
                        {{area.areaVidaUniversitaria}}
                      </label>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <br>

                </div>

            </div>
        </div>
    </form>
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
        </h2>
        <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
            <a routerLink="/alumnos" class="button text-black bg-theme-2 shadow-md mr-2">Cancelar</a>
            <button type="submit" class="button text-white bg-theme-1 shadow-md mr-2" style="background-color: #FF8300;">Guardar</button>
        </div>
    </div>
    <!-- END: FORM -->
</div>
<!-- END: Content -->