<app-menu></app-menu>
<div class="content">
  <div class="modal" id="success-modal-preview">
    <div class="modal__content">
      <div class="p-5 text-center">
        <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
        <div class="text-3xl mt-5">Muy bien!</div>
        <div class="text-gray-600 mt-2">Has agregado un proyecto!</div>
      </div>
      <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
    </div>
  </div>

  <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
      Agregar Proyecto
    </h2>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
      <a routerLink="/proyectos" class="button text-black bg-theme-2 shadow-md mr-2">Cancelar</a>
      <button (click)="create()" class="button text-white bg-theme-1 shadow-md mr-2">Guardar</button>
    </div>
  </div>
  <div class="modal" id="validacion">
    <div class="modal__content">
        <div class="p-5 text-center"> <i data-feather="x-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
            <div class="text-gray-600 mt-2">{{mensajevalidacion}}</div>
        </div>
        <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
    </div>
  </div>

  <div class="preview">
    <div class="intro-y mt-5">
  <form class="p-5"  (ngSubmit)="create()" #form="ngForm">
    <!-- BEGIN: FORM  box p-5 mt-5 w-full -->
    <div class="intro-y box mt-5">
      <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
        <h2 class="font-medium text-base mr-auto">
          Información General
        </h2>
      </div>
      <div class="mt-3 p-5">
        <div class="sm:grid grid-cols-3 gap-2">

          <div class="relative mt-8">
            <div>
              <label>Institución / Área*</label>
              <select class="input  w-full border mt-2 " [(ngModel)]="proyectoModel.idOrganizacion" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="organizacion.id" *ngFor="let organizacion of organizaciones">{{organizacion.organizacion}} </option>
              </select>

            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label>Nombre del proyecto*</label>
              <input type="text" class="input  w-full border mt-2 " [(ngModel)]="proyectoModel.proyecto" [ngModelOptions]="{standalone: true}" ng-reflect-required="ejemplo nombre" maxlength="70" required>
            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label>Descripción*</label>
              <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="proyectoModel.descripcion" [ngModelOptions]="{standalone: true}" value="ejemplo descripcion" maxlength="500" required>
            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label>
                Nombre del Responsable del Proyecto*
              </label>
              <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="proyectoModel.nombreResponsable" [ngModelOptions]="{standalone: true}" value="ejemplo descripcion" required>
            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label>
                Puesto del Responsable del Proyecto*
              </label>
              <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="proyectoModel.puesto" [ngModelOptions]="{standalone: true}" value="ejemplo descripcion" required>
            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label>
                Área del Responsbale del Proyecto*
              </label>
              <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="proyectoModel.area" [ngModelOptions]="{standalone: true}" value="ejemplo descripcion" required>
            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label>
                Correo electrónico del responsable del proyecto*
              </label>
              <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="proyectoModel.correoResponsable" [ngModelOptions]="{standalone: true}" value="ejemplo descripcion" required>
            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label>
                Teléfono de responsable del proyecto
              </label>
              <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="proyectoModel.telefono" [ngModelOptions]="{standalone: true}" value="ejemplo descripcion" required>
            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label>
                Justifica el impacto social del proyecto*
              </label>
              <input type="text" class="input   w-full border mt-2 " placeholder="" [(ngModel)]="proyectoModel.justificacionImpactoSocial" [ngModelOptions]="{standalone: true}" maxlength="500" required>
            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label>
                ¿Se puede hacer el servicio social bajo la modalidad a distancia en este proyecto?*
              </label>
              <select class="input  w-full border mt-2 " [(ngModel)]="proyectoModel.modalidadDistancia" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="'si'">Si</option>
                <option [ngValue]="'no'">No</option>
              </select>
            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label>
                ¿Plazas de Servicio Social disponibles para el proyecto?*
              </label>
              <select class="input  w-full border mt-2 " [(ngModel)]="proyectoModel.plazas" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="1">1</option>
                <option [ngValue]="2">2</option>
                <option [ngValue]="3">3</option>
                <option [ngValue]="4">4</option>
                <option [ngValue]="5">5</option>
                <option [ngValue]="6">6</option>
                <option [ngValue]="7">7</option>
                <option [ngValue]="8">8</option>
                <option [ngValue]="9">9</option>
                <option [ngValue]="10">10</option>
              </select>
            </div>
          </div>

          <!--<div class="relative mt-8">
            <div>
              <label>
                ¿Plazas de Servicio Social disponibles para el proyecto | Perfil de alumno de 240 hrs.?
              </label>
              <select class="input  w-full border mt-2 " [(ngModel)]="proyectoModel.plazas240" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="1">1</option>
                <option [ngValue]="2">2</option>
                <option [ngValue]="3">3</option>
                <option [ngValue]="4">4</option>
                <option [ngValue]="5">5</option>
                <option [ngValue]="6">6</option>
                <option [ngValue]="7">7</option>
                <option [ngValue]="8">8</option>
                <option [ngValue]="9">9</option>
                <option [ngValue]="10">10</option>
              </select>
            </div>
          </div>-->

          <div class="relative mt-8">
            <div>
              <label>
                Enlista los objetivos del proyecto máximo(7)*
              </label>
              <textarea type="text" rows="7" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="proyectoModel.objetivo" [ngModelOptions]="{standalone: true}" value="objetivo ejemplo" required>
              </textarea>
            </div>
          </div>

        </div>
      </div>

      <br>

      <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
        <h2 class="font-medium text-base mr-auto">
          Información referente al Prestador de Servicio Social (Estudiante)
        </h2>
      </div>

      <div class="mt-8 p-5">
        <div class="sm:grid grid-cols-3 gap-2">

          <div class="relative mt-8">
            <div>
              <label>
                ¿Cantidad de horas totales del proyecto?*
              </label>
              <select class="input  w-full border mt-2 " [(ngModel)]="proyectoModel.horas" [ngModelOptions]="{standalone: true}" (change)="onChangeHoras()">
                <option [ngValue]="240">240</option>
                <option [ngValue]="480">480</option>
              </select>
            </div>
          </div>
          <div class="relative mt-8">
            <div>
              <label>Fecha de inicio*</label>
              <input type="date" class="input  w-full border mt-2 " [(ngModel)]="proyectoModel.fechaInicio" [ngModelOptions]="{standalone: true}" (change)="onChangeHoras()" required>
            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label>Fecha de termino* </label>
              <input type="date" class="input  w-full border mt-2 "
                     [(ngModel)]="proyectoModel.fechaTermino"
                     [ngModelOptions]="{standalone: true}"
                     [disabled]="!fechaMinima"
                     min="{{fechaMinima|date:'yyyy-MM-dd'}}"
                     required>
            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label>
                ¿El alumno recibe capacitación/formación por parte de la Institución?*
              </label>
              <select class="input  w-full border mt-2 " [(ngModel)]="proyectoModel.capacitacion" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="'si'">Si</option>
                <option [ngValue]="'no'">No</option>
              </select>
            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label>
                Días hábiles para la prestación de servicio social*
              </label>
            </div>
            <div class="well">
              <table style="padding: 15px; margin-left: 25px;">
                <tbody>
                  <tr>

                    <td style="padding:5px;">
                      <label>
                        <input type="checkbox" id="lunes" (change)="toggleDias($event.target.checked, 'lunes')">
                        Lunes
                      </label>
                    </td>

                    <td style="padding:5px;">
                      <label>
                        <input type="checkbox" id="martes" (change)="toggleDias($event.target.checked, 'martes')">
                        Martes
                      </label>
                    </td>

                    <td style="padding:5px;">
                      <label>
                        <input type="checkbox" id="miercoles" (change)="toggleDias($event.target.checked, 'miercoles')">
                        Miercoles
                      </label>
                    </td>

                    <td style="padding:5px;">
                      <label>
                        <input type="checkbox" id="jueves" (change)="toggleDias($event.target.checked, 'jueves')">
                        Jueves
                      </label>
                    </td>

                    <td style="padding:5px;">
                      <label>
                        <input type="checkbox" id="viernes" (change)="toggleDias($event.target.checked, 'viernes')">
                        Viernes
                      </label>
                    </td>

                    <td style="padding:5px;">
                      <label>
                        <input type="checkbox" id="sabado" (change)="toggleDias($event.target.checked, 'sabado')">
                        Sabado
                      </label>
                    </td>

                    <td style="padding:5px;">
                      <label>
                        <input type="checkbox" id="domingo" (change)="toggleDias($event.target.checked, 'domingo')">
                        Domingo
                      </label>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label>
                Horarios disponibles para la prestación de servicio social*
              </label>
            </div>
            <div class="well">
              <table style="padding: 15px; margin-left: 25px;">
                <tbody>
                  <tr>

                    <td style="padding:5px;">
                      <label>
                        Entrada:
                        <input type="time" [(ngModel)]="proyectoModel.horaEntrada" [ngModelOptions]="{standalone: true}" />
                      </label>
                    </td>

                    <td style="padding:5px;">
                      <label>
                        Salida:
                        <input type="time" [(ngModel)]="proyectoModel.horaSalida" [ngModelOptions]="{standalone: true}" />
                      </label>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label>
                Rol o función del prestador de servicio social (estudiante) dentro del proyecto:
              </label>
              <input type="text" class="input w-full border mt-2 " placeholder="" [(ngModel)]="proyectoModel.rolPrestador" [ngModelOptions]="{standalone: true}" maxlength="400" required>
            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label>
                Responsabilidades del prestador de servicio social máximo(7):
              </label>
              <textarea type="text" rows="7" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="proyectoModel.responsabilidades" [ngModelOptions]="{standalone: true}" value="objetivo ejemplo" required></textarea>
            </div>
          </div>

        </div>
      </div>
      <br>

      <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
        <h2 class="font-medium text-base mr-auto">
          Competencias & Carreras
        </h2>
      </div>

      <div class="mt-8 p-5">
        <div class="sm:grid grid-cols-1 gap-2">

          <div class="relative mt-2">
            <div>
              <label>
                Seleccione las competencias que el alumno podrá desarrollar por medio del proyecto:
              </label>
            </div>
            <div class="sm:grid grid-cols-3 gap-2">
              <div *ngFor="let competencia of listaProyectosCompetencias">

                  <label>
                    <input type="checkbox" id="co{{competencia.id}}" (change)="toggleCompetencias($event.target.checked, competencia.id)">
                    {{competencia.competencia}}
                  </label>

              </div>
            </div>
          </div>

          <div class="relative mt-8">
            <div>
              <label>
                Selecciones las carreras más afines según el perfil que requiera el proyecto:
              </label>
            </div>
            <div class="sm:grid grid-cols-3 gap-2">
              <div *ngFor="let carrera of listaProyectosCarreras">

                <label>
                  <input type="checkbox" id="ca{{carrera.id}}" (change)="toggleCarreras($event.target.checked, carrera.id)">
                  {{carrera.carrera}}
                </label>

              </div>
            </div>
          </div>

        </div>
      </div>
      <br>


      <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
        <h2 class="font-medium text-base mr-auto">
          Objetivos de Desarrollo Sostenibles (ODS)
        </h2>
      </div>

      <div class="mt-8 p-5">
        <div class="sm:grid grid-cols-3 gap-2">

          <div class="relative mt-2">
            <div>
              <label>
                Según la naturaleza del proyecto, ¿a cuál de los siguientes objetivos de la ONU contribuye?
              </label>
              <select class="input  w-full border mt-2 " [(ngModel)]="proyectoModel.idObjetivoOnu" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="odss.id" *ngFor="let odss of ods">{{odss.odSstring}} </option>
              </select>
            </div>
          </div>

        </div>
      </div>
      <br>

      <div class="mt-1 p-5">
        <div class="sm:grid grid-cols-3 gap-2">
          <div class="relative mt-3">
            <div>
              <label>Universidad:</label>
              <select class="input  w-full border mt-2 " [(ngModel)]="proyectoModel.idUniversidad" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="universidad.id" *ngFor="let universidad of universidades">{{universidad.universidad}}</option>
              </select>
            </div>

          </div>
          <div class="relative mt-3">
            <div>
              <label>Estado:</label>
              <select class="input  w-full border mt-2 " [(ngModel)]="proyectoModel.idEstadoProyecto" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="estadoProyecto.id" *ngFor="let estadoProyecto of estadosProyectos">{{estadoProyecto.estadoProyecto}}</option>
              </select>
            </div>
          </div>
          <div class="relative mt-3">
            <div>
              <label>Observaciones:</label>
              <input type="text" class="input  w-full border mt-2 " placeholder="" [(ngModel)]="proyectoModel.observaciones" [ngModelOptions]="{standalone: true}" required>

            </div>
          </div>
        </div>
      </div>
      <br>

    </div>
  </form>
</div>
</div>

    <!-- END: FORM -->
</div>
<!-- END: Content -->
