<app-menu>
</app-menu>

<!-- BEGIN: Content -->

<div class="content">
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 xxl:col-span-9 grid grid-cols-12 gap-6">
            <!-- BEGIN: General Report -->
            <div class="col-span-12 mt-8">
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Reporte General
                    </h2>
                    <button class="ml-auto flex text-theme-1 dark:text-theme-10" (click)="ngOnInit()"> <i data-feather="refresh-ccw" class="w-4 h-4 mr-3"></i>  Recargar </button>
                </div>
                <div class="grid grid-cols-12 gap-6 mt-5">

                    <div routerLink="/empresas" class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-feather="briefcase" class="report-box__icon text-theme-10"></i>
                                    <div class="ml-auto">
                                        <!-- <div class="report-box__indicator bg-theme-9 tooltip cursor-pointer" title="33% Higher than last month"> {{ ((empresaactiva.length * 100 )/empresa.length).toFixed(2)}} % <i data-feather="chevron-up" class="w-4 h-4"></i> </div> -->
                                    </div>
                                </div>
                                <div class="text-3xl font-bold leading-8 mt-6">{{empresaactiva.length}}</div>
                                <div class="text-base text-gray-600 mt-1">Instituciones Aprobadas</div>
                            </div>
                        </div>
                    </div>
                    <div routerLink="/empresas" class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-feather="briefcase" class="report-box__icon text-theme-11"></i>
                                    <div class="ml-auto">
                                        <!-- <div class="report-box__indicator bg-theme-6 tooltip cursor-pointer" title="2% Lower than last month"> {{ ((empresadesaciva.length * 100 )/empresa.length).toFixed(2) }} %<i data-feather="chevron-down" class="w-4 h-4"></i> </div> -->
                                    </div>
                                </div>
                                <div class="text-3xl font-bold leading-8 mt-6">{{empresadesaciva.length}}</div>
                                <div class="text-base text-gray-600 mt-1">Instituciones Pendientes</div>
                            </div>
                        </div>
                    </div>
                    <div routerLink="/proyectos" class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-feather="layout" class="report-box__icon text-theme-12"></i>
                                    <div class="ml-auto">
                                        <!-- <div class="report-box__indicator bg-theme-9 tooltip cursor-pointer" title="12% Higher than last month"> {{ ((proyectosactivos.length * 100 )/proyectos.length).toFixed(2)}} % <i data-feather="chevron-up" class="w-4 h-4"></i> </div> -->
                                    </div>
                                </div>
                                <div class="text-3xl font-bold leading-8 mt-6">{{proyectosactivos.length}} </div>
                                <div class="text-base text-gray-600 mt-1">Proyectos Activos</div>
                            </div>
                        </div>
                    </div>
                    <div routerLink="/proyectos" class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-feather="layout" class="report-box__icon text-theme-9"></i>
                                    <div class="ml-auto">
                                        <!-- <div class="report-box__indicator bg-theme-6 tooltip cursor-pointer" title="22% Higher than last month"> {{ ((proyectosrechazados.length * 100 )/proyectos.length).toFixed(2)}} % <i data-feather="chevron-down" class="w-4 h-4"></i> </div> -->
                                    </div>
                                </div>
                                <div class="text-3xl font-bold leading-8 mt-6">{{proyectosrechazados.length}}</div>
                                <div class="text-base text-gray-600 mt-1">Proyectos Pendientes</div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- BEGIN: Convocatorias Abiertas -->
                <div class="col-span-12 mt-6">
                    <div class="intro-y block sm:flex items-center h-10">
                        <h2 class="text-lg font-medium truncate mr-5">
                            Convocatorias
                        </h2>

                    </div>
                    <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
                        <table class="table table-report sm:mt-2">
                            <thead>
                                <tr>

                                    <th class="whitespace-no-wrap">CONVOCATORIAS DE INSTITUCIONES / ÁREAS </th>
                                    <th class="text-center whitespace-no-wrap">INICIA</th>
                                    <th class="text-center whitespace-no-wrap">TERMINA</th>
                                    <th class="text-center whitespace-no-wrap">STATUS</th>
                                    <th class="text-center whitespace-no-wrap">ACCIÓN</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let convocatoria of convocatoriasf">
                                <tr class="intro-x" *ngIf="convocatoria.activo==true || (convocatoria.fechaTermino) <  (d)">
                                    <td>
                                        <a class="font-medium whitespace-no-wrap">{{  convocatoria.convocatoria}} </a>
                                        <div class="text-gray-600 text-xs whitespace-no-wrap">Descripción {{convocatoria.descripcion}}</div>
                                    </td>
                                    <td class="W-56">
                                        <div class="flex items-center justify-center text-theme-6">
                                            {{convocatoria.Inicio }}
                                        </div>
                                    </td>
                                    <td class="W-56">
                                        <div class="flex items-center justify-center text-theme-6">
                                            {{convocatoria.Termino}}
                                        </div>
                                    </td>
                                    <td class="w-40">

                                        <div class="py-1 px-2 rounded-full text-center text-xs bg-theme-9 text-white  font-medium" *ngIf="convocatoria.activo==true">ACTIVA</div>
                                        <div class="py-1 px-2 rounded-full text-center text-xs bg-theme-6 text-white  font-medium" *ngIf="convocatoria.activo==false">DESACTIVA</div>

                                    </td>
                                    <td class="table-report__action w-100">
                                        <div class="flex justify-center items-center">
                                            <a class="py-1 px-2 rounded-full text-center text-white text-xs bg-theme-1 text-white cursor-pointer font-medium w-100" [routerLink]="['/convocatorias/edit', convocatoria.id  ]"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Editar </a>

                                        </div>
                                    </td>

                                </tr>



                            </tbody>
                        </table>
                    </div>
                    <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
                        <table class="table table-report sm:mt-2">
                            <thead>
                                <tr>

                                    <th class="whitespace-no-wrap">CONVOCATORIAS ALUMNOS</th>
                                    <th class="text-center whitespace-no-wrap">INICIA</th>
                                    <th class="text-center whitespace-no-wrap">TERMINA</th>
                                    <th class="text-center whitespace-no-wrap">STATUS</th>
                                    <th class="text-center whitespace-no-wrap">ACCIÓN</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let convocatoria of convocatoriasalumnosf">

                                <tr class="intro-x" *ngIf="convocatoria.activo==true || (convocatoria.fechaTermino) <  (d)">
                                    <td>
                                        <a class="font-medium whitespace-no-wrap">{{convocatoria.convocatoria}}</a>
                                        <div class="text-gray-600 text-xs whitespace-no-wrap">Descripción {{convocatoria.descripcion}}</div>
                                    </td>
                                    <td class="W-56">
                                        <div class="flex items-center justify-center text-theme-6">
                                            {{convocatoria.Inicio}}
                                        </div>
                                    </td>
                                    <td class="W-56">
                                        <div class="flex items-center justify-center text-theme-6">
                                            {{convocatoria.Termino}}
                                        </div>
                                    </td>
                                    <td class="w-40">

                                        <div class="py-1 px-2 rounded-full text-center text-xs bg-theme-9 text-white  font-medium" *ngIf="convocatoria.activo==true">ACTIVA</div>
                                        <div class="py-1 px-2 rounded-full text-center text-xs bg-theme-6 text-white  font-medium" *ngIf="convocatoria.activo==false">DESACTIVA</div>

                                    </td>
                                    <td class="table-report__action w-56">
                                        <div class="flex justify-center items-center">
                                            <a class="py-1 px-2 rounded-full text-center text-white text-xs bg-theme-6 text-white cursor-pointer font-medium" [routerLink]="['/convocatorias/edit', convocatoria.id  ]"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Editar </a>

                                        </div>
                                    </td>
                                </tr>




                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END: Convocatorias Abiertas -->



                <!-- BEGIN: Weekly Top Products -->
                <div class="col-span-8 mt-6">
                    <div class="intro-y block sm:flex items-center h-10">
                        <h2 class="text-lg font-medium truncate mr-5">
                            Proyectos Pendientes
                        </h2>

                    </div>
                    <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
                        <table class="table table-report sm:mt-2">
                            <thead>
                                <tr>

                                    <th class="whitespace-no-wrap">PROYECTOS PENDIENTES</th>

                                    <th class="text-center whitespace-no-wrap">STATUS</th>
                                    <th class="text-center whitespace-no-wrap">ACCIÓN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="intro-x" *ngFor="let proyect of proyectospendientes">
                                    <td>
                                        <a class="font-medium whitespace-no-wrap">{{proyect.proyecto}}</a>
                                        <div class="text-gray-600 text-xs whitespace-no-wrap">Responsable: {{proyect.nombreResponsable}}</div>
                                    </td>

                                    <td class="w-40">
                                        <div class="py-1 px-2 rounded-full text-center text-xs bg-theme-6 text-white  font-medium">PENDIENTE</div>
                                    </td>
                                    <td class="table-report__action w-56">
                                        <div class="flex justify-center items-center">
                                            <a class="py-1 px-2 rounded-full text-center text-white text-xs bg-theme-1 text-white cursor-pointer font-medium" [routerLink]="['/proyectos/edit', proyect.id  ]"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Editar </a>

                                        </div>
                                    </td>
                                </tr>




                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- END: Weekly Top Products -->

            </div>
            <!-- END: General Report -->







        </div>


        <div class="col-span-12 xxl:col-span-3 xxl:border-l border-theme-5 -mb-10 pb-10">
            <div class="xxl:pl-6 grid grid-cols-12 gap-6">
                <!-- BEGIN: Transactions -->
                <div class="col-span-12 md:col-span-6 xl:col-span-4 xxl:col-span-12 mt-3 xxl:mt-8">
                    <div class="intro-x flex items-center h-10">
                        <h2 class="text-lg font-medium truncate mr-5">
                            Solicitudes para editar Instituciones
                        </h2>
                    </div>

                    <div class="mt-5" *ngFor="let empresasp of empresapermisos">
                        <div class="intro-x">
                            <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                                <div class="ml-4 mr-auto">
                                    <div class="font-medium">{{empresasp.organizacion}}</div>
                                    <div class="text-gray-600 text-xs">{{empresasp.estado}}</div>
                                </div>
                                <a (click)="abrirsubir(empresasp.id)" class="py-1 px-2 rounded-full text-center text-xs bg-theme-6 text-white cursor-pointer font-medium">
                                    <div class="text-white">cambiar a revisión</div>
                                </a>
                            </div>
                        </div>
                        <div class="modal" id="abrirsubir-{{empresasp.id}}">
                            <div class="modal__content">
                                <form #form="ngForm" (ngSubmit)="subeArchivo(empresasp.id)">
                                    <div class="p-5 text-center">
                                        <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                                        <div class="text-base mt-5">Concederle permisos a la institución {{empresasp.organizacion}}</div>
                                        <br>
                                    </div>

                                    <div class="px-5 pb-8 text-center">
                                        <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1">
                        Cancelar
                      </button>
                                        <button type="submit" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Cambiar</button>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>



                </div>
                <!-- END: Transactions -->

                <!-- BEGIN: Important Notes -->
                <div class="col-span-12 md:col-span-6 xl:col-span-12 xxl:col-span-12 xl:col-start-1 xl:row-start-1 xxl:col-start-auto xxl:row-start-auto mt-3">
                    <div class="intro-x flex items-center h-10">
                        <h2 class="text-lg font-medium truncate mr-auto">
                            Vacantes disponibles
                        </h2>

                    </div>
                    <div class="mt-5 intro-x">
                        <div class="">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                                <thead>
                                    <tr>
                                        <!-- <th class="border-b-2 text-center whitespace-no-wrap">LOGO</th> -->

                                        <th class="border-b-2 text-center whitespace-no-wrap">CARRERA</th>

                                        <th class="border-b-2 text-center whitespace-no-wrap">DISPONIBLES</th>


                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let vacante of vacantes">
                                        <td class="border-b text-center">
                                            {{vacante.carrera}}
                                        </td>
                                        <td class="border-b text-center">
                                            {{vacante.plazasDisponibles}}
                                        </td>

                                    </tr>


                                </tbody>
                            </table>


                        </div>

                    </div>
                    <br><br>
                    <a [routerLink]="['/Testimonios' ]" class="intro-x w-full block text-center rounded-md py-3 border border-dotted text-white border-theme-15 dark:border-dark-5 bg-theme-1  dark:text-gray-600">Testimonios</a>

                </div>
                <!-- END: Important Notes -->

            </div>
        </div>


    </div>
</div>

<!-- END: Content -->