<app-menu></app-menu>


<div class="content">
  <div class="modal" id="success-modal-preview">
    <div class="modal__content">
        <div class="p-5 text-center"> <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
            <div class="text-3xl mt-5">Muy bien!</div>
            <div class="text-gray-600 mt-2">Has editado una empresa!</div>
        </div>
        <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
    </div>
</div>
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
             Proyecto
        </h2>

    </div>

    <form #formEmpresa="ngForm" >

    <!-- BEGIN: FORM  box p-5 mt-5 w-full -->
   
    <div class="intro-y box mt-5">
        <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
            <h2 class="font-medium text-base mr-auto">
                Información General
            </h2>
        </div>
        <div class="p-5" id="horizontal-form">

          <div class="row">
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Proyecto:</b> {{proyectoModel.proyecto}}</label>
            </div>
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Organización:</b> {{proyectoModel.organizacion}}</label>
            </div>
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Organización:</b> {{proyectoModel.organizacion}}</label>
            </div>
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Periodo:</b> {{proyectoModel.periodo}}</label>
            </div>
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Duración:</b>Fecha inicio: {{proyectoModel.fechaInicio}} Fecha termino: {{proyectoModel.fechaTermino}}</label>
            </div>
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Descripciòn:</b>{{proyectoModel.descripcion}} </label>
            </div>
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Objetivo:</b>{{proyectoModel.objetivo}} </label>
            </div>
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Area:</b>{{proyectoModel.area}} </label>
            </div>
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Area:</b>{{proyectoModel.area}} </label>
            </div>
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Rango:</b>{{proyectoModel.rango}} </label>
            </div>
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Poblaciòn:</b>{{proyectoModel.poblacion}} </label>
            </div>
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Beneficios institucionales:</b>{{proyectoModel.beneficioInstitucional}} </label>
            </div>
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Comentarios:</b>{{proyectoModel.comentarios}} </label>
            </div>
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Horas proyectos:</b>{{proyectoModel.horasProyecto}} </label>
            </div>
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Nùmero de vacantes:</b>{{proyectoModel.noVacantes}} </label>
            </div>
            <div class="col-6">
              <label *ngIf="proyectoModel.recursosEconomicos; else elseBlock" ><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Recursos econòmicos:</b> Si </label>
              <ng-template #elseBlock><label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Recursos econòmicos:</b> No </label></ng-template>
            </div>
          </div>

        </div>
        <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
          <h2 class="font-medium text-base mr-auto">
            Formación/Capacitación para el Alumno:
          </h2>
        </div>
        <div class="p-5" id="horizontal-form">
          <div class="row">
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Formaciòn:</b>{{proyectoModel.descripcionFormacion}} </label>
            </div>
            <div class="col-6">
              <label *ngIf="proyectoModel.constanciaParticipacion; else elseBlock" ><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Constancia:</b> Si </label>
              <ng-template #elseBlock><label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Constancia:</b> No </label></ng-template>
            </div>
          </div>

        </div>
      <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
        <h2 class="font-medium text-base mr-auto">
          Beneficios para el Alumno
        </h2>
        </div>
        <div class="p-5" id="horizontal-form">
          <div class="row">
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Beneficios alumno:</b>{{proyectoModel.descripcionBeneficiosAlumno}} </label>
            </div>
          </div>
        </div>
        <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
          <h2 class="font-medium text-base mr-auto">
            Impacto social del proyecto
          </h2>
        </div>
        <div class="p-5" id="horizontal-form">
          <div class="row">
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Impacto social:</b>{{proyectoModel.descripcionImpactoSocial}} </label>
            </div>
            <div class="col-6">
              <label><b class="rounded-md text-center px-1 py-1 mb-2 bg-orange-600 text-white">Indicadores:</b>{{proyectoModel.indicadoresImpactoSocial}} </label>
            </div>
          </div>
        </div>
        <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
          <h2 class="font-medium text-base mr-auto">
            Apoyos a los Prestadores
          </h2>
        </div>
        <div class="p-5" id="horizontal-form">
          <div class="well">
            <table style="padding: 15px; margin-left: 25px;">
              <tbody>
                <tr *ngFor="let apoyo of apoyos">

                  <td style="padding:5px;">
                    <div class="flex items-center">
                      <div class="w-3 h-2 bg-theme-9 rounded-full mr-3"></div>
                      <span>{{apoyo.apoyo}}</span>
                    </div>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200 dark:border-dark-5">
          <h2 class="font-medium text-base mr-auto">
            Línea de Trabajo
          </h2>
        </div>
        <div class="p-5" id="horizontal-form">
          <div class="well">
            <table style="padding: 15px; margin-left: 25px;">
              <tbody>
                <tr *ngFor="let lineaTrabajo of lineasTrabajo">
                  <td style="padding:5px;">                      
                      <div class="flex items-center">
                        <div class="w-3 h-2 bg-theme-9 rounded-full mr-3"></div>
                        <span>{{lineaTrabajo.lineaTrabajo}}</span>
                      </div>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </form>
    <!-- END: FORM -->
</div>
<!-- END: Content -->
