
<app-menu></app-menu>

<!-- BEGIN: Content -->
<div class="content">
    <div class="content">
        <div class="modal" id="success-modal-preview">
          <div class="modal__content">
              <div class="p-5 text-center"> <i data-feather="check-circle" class="w-16 h-16 text-theme-9 mx-auto mt-3"></i>
                  <div class="text-3xl mt-5">Muy bien!</div>
                  <div class="text-gray-600 mt-2">Has editado una empresa!</div>
              </div>
              <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button> </div>
          </div>
      </div>

    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            Convocatorias
        </h2>
     
        <div class="w-full sm:w-auto flex mt-4 sm:mt-0">

 
            <button routerLink="/convocatorias/add" class="button text-white bg-theme-1 shadow-md mr-2">Agregar Convocatoria</button>
            <div class="dropdown relative ml-auto sm:ml-0">
                <button class="dropdown-toggle button px-2 box text-gray-700 dark:text-gray-300">
                    <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4" data-feather="plus"></i> </span>
                </button>
                <div class="dropdown-box mt-10 absolute w-40 top-0 right-0 z-20">
                    <div class="dropdown-box__content box dark:bg-dark-1 p-2">
                        
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="file-plus" class="w-4 h-4 mr-2"></i> New Category </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white dark:bg-dark-1 hover:bg-gray-200 dark:hover:bg-dark-2 rounded-md"> <i data-feather="users" class="w-4 h-4 mr-2"></i> New Group </a>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <button id="empresa" (click)="recargar()" class="button text-white bg-theme-1 shadow-md mr-2">Empresas</button>
    <button   id="alumnos" (click)="recargar2()"  class="button text-white bg-theme-8 shadow-md mr-2">Alumnos</button>
<br>
    <!-- BEGIN: Datatable -->
    <div class="intro-y datatable-wrapper box p-5 mt-5">

        <table datatable #dataTable1 class="table table-report table-report--bordered display datatable w-full">
            <thead>
                <tr>
                    <th class="border-b-2 whitespace-no-wrap">CONVOCATORIA</th>
                    <th class="border-b-2 text-center whitespace-no-wrap">UNIVERSIDAD</th>
                    <th class="border-b-2 text-center whitespace-no-wrap">PERIODO</th>
                    <th class="border-b-2 text-center whitespace-no-wrap">FECHA INICIO</th>
                    <th class="border-b-2 text-center whitespace-no-wrap">FECHA TERMINO</th>
                    <th class="border-b-2 text-center whitespace-no-wrap">ACCIÓN</th>

                </tr>
            </thead>
            <tbody *ngIf="convocatorias?.length != 0">
             
                <tr *ngFor="let convocatoria of convocatorias">
                    <td class="border-b">
                        <div class="font-medium flex sm:justify-center items-center">{{convocatoria.convocatoria}}</div>
                    </td>
                
               
                    <td class=" border-b">
                        <div class="font-medium flex sm:justify-center items-center"> {{convocatoria.universidad}}</div>
                    </td>
                    <td class="border-b">
                        <div class="font-medium flex sm:justify-center items-center">{{convocatoria.periodo}}</div>
                    </td>
                    <td class="border-b">
                        <div class="font-medium flex sm:justify-center items-center">{{convocatoria.fechaInicio.substr(0,10)}}</div>
                    </td>
                    <td class="border-b">
                        <div class="rounded-md text-center px-1 py-1 mb-2 bg-theme-12 text-white"> {{convocatoria.fechaTermino.substr(0,10)   }}</div>
                    </td>
                    <td class="border-b w-5">
                        <div class="flex sm:justify-center items-center">
                            <a class="flex items-center mr-3" [routerLink]="['/convocatorias/edit', convocatoria.id  ]"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Editar </a>
                            <a class="flex items-center text-theme-6"  (click)="modaleliminar(convocatoria.id)"  > <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Eliminar </a>
                        </div>
                    </td>
                    <div class="modal" id="delete-modal-preview-{{convocatoria.id}}">
                        <div class="modal__content">
                            <div class="p-5 text-center"> <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                                <div class="text-3xl mt-5">¿Estas seguro de eliminar al empresa?</div>
                                <div class="text-gray-600 mt-2">Eliminar a la empresa  es irreversible y no se puede deshacer.</div>
                            </div>
                            <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1">Cancelar</button> <button type="button" (click)="eliminar(convocatoria.id)" data-dismiss="modal"  class="button w-24 bg-theme-6 text-white">Eliminar</button> </div>
                        </div>
                    </div>

                </tr>

                
            </tbody>
        </table>
    </div>
    <!-- END: Datatable -->
</div>
<!-- END: Content -->

